In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
directory = "/media/sony/0CA83E99A83E80EE/Chris/Bocconi/Thesis/Data_copy/Data/"

In [3]:
df_main = pd.read_csv(directory + 'affiliates_dataV3.csv' )

In [4]:
df_main.head()

,home_code,host_code,year,industry,distance,scoreproced,minorinvest,enfcontract,paytax,minorinvest_lag,...,aff_sales,aff_ex,aff_im,aff_parex,aff_parim,fdi_flow,fdi_position,indus_ex,indus_im,skill_intens
0,USA,ABW,2000,1,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,271792324.0,1.535549e+09,NaN
1,USA,ABW,2000,2,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71186832.0,1.461237e+09,NaN
2,USA,ABW,2000,3,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200605492.0,7.431215e+07,NaN
3,USA,ABW,2000,4,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30969497.0,1.302712e+06,NaN
4,USA,ABW,2000,5,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23017107.0,3.524300e+04,NaN

In [5]:
code_map = pd.read_csv(directory + 'country_code_map.csv')

In [6]:
country_code_map = code_map.set_index('country').code.to_dict()

In [7]:
country_code_map['Hong Kong, China'] = 'HKG'

In [8]:
add_map = {'Russia': 'RUS', 'Venezuela':'VEN','Hong Kong': 'HKG', 'Taiwan': 'TWN' }

In [9]:
country_code_map.update(add_map)

In [10]:
col_names = ['country',1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]

In [11]:
df_concat = pd.DataFrame(columns = ['country','industry', 'aff_empl', 'host_code', 'year'])

for year in range(2009,2018):
    df_sales = pd.read_excel(directory + 'mofas-employment.xls', skiprows = 7, names=col_names, sheet_name = str(year))
    df_clean = df_sales.dropna(how = 'all', thresh =3).replace('(*)',0.0).replace('(D)', np.nan)
    df_long = pd.melt(df_clean,id_vars = 'country',var_name = 'industry',value_name ='aff_empl')
    df_long['host_code'] = df_long.country.map(country_code_map)
    df_long.dropna(subset= ['host_code'], inplace = True)
    df_long['year'] = int(year)
    df_concat = pd.concat([df_concat,df_long], sort = False)

In [12]:
empl_df = df_concat[['host_code','year','industry','aff_empl']]

In [13]:
empl_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8064 entries, 0 to 1180
Data columns (total 4 columns):
host_code    8064 non-null object
year         8064 non-null object
industry     8064 non-null object
aff_empl     8064 non-null object
dtypes: object(4)
memory usage: 315.0+ KB

In [14]:
empl_df.head()

  host_code  year industry aff_empl
0       CAN  2009        1   1082.7
2       AUT  2009        1       41
3       BEL  2009        1    135.8
4       CZE  2009        1       72
5       DNK  2009        1     34.2

In [15]:
empl_df[empl_df.aff_empl =='M'].head()

     host_code  year industry aff_empl
704        MEX  2009       10        M
852        MEX  2009       12        M
1148       MEX  2009       16        M
704        MEX  2010       10        M
852        MEX  2010       12        M

In [16]:
value_map = {'A': 250, 'F': 750, 'G': 1750, 'H': 3750, 'I':7500, 'J':17500, 'K': 37500, 'L':75000,
            'M': 100000}

In [17]:
empl_df['aff_empl'] = empl_df['aff_empl'].replace(value_map)

/home/sony/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [18]:
empl_df[empl_df.aff_empl =='M']

/home/sony/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Empty DataFrame
Columns: [host_code, year, industry, aff_empl]
Index: []

In [19]:
df_main = pd.merge(df_main, empl_df, how='left', on=['host_code','year', 'industry'])

In [20]:
df_concat = pd.DataFrame(columns = ['country','industry', 'aff_value_added', 'host_code', 'year'])

for year in range(2009,2018):
    df_sales = pd.read_excel(directory + 'mofas-value-added.xls', skiprows = 7, names=col_names, sheet_name = str(year))
    df_clean = df_sales.dropna(how = 'all', thresh =3).replace('(*)',0.0).replace('(D)', np.nan)
    df_long = pd.melt(df_clean,id_vars = 'country',var_name = 'industry',value_name ='aff_value_added')
    df_long['host_code'] = df_long.country.map(country_code_map)
    df_long.dropna(subset= ['host_code'], inplace = True)
    df_long['year'] = int(year)
    df_concat = pd.concat([df_concat,df_long], sort = False)

In [21]:
value_df = df_concat[['host_code','year','industry','aff_value_added']]

In [22]:
value_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8064 entries, 0 to 1180
Data columns (total 4 columns):
host_code          8064 non-null object
year               8064 non-null object
industry           8064 non-null object
aff_value_added    6869 non-null float64
dtypes: float64(1), object(3)
memory usage: 315.0+ KB

In [23]:
value_df.head()

  host_code  year industry  aff_value_added
0       CAN  2009        1         113675.0
2       AUT  2009        1           5795.0
3       BEL  2009        1          23110.0
4       CZE  2009        1           5086.0
5       DNK  2009        1           8759.0

In [24]:
df_main = pd.merge(df_main, value_df, how='left', on=['host_code','year', 'industry'])

In [25]:
df_main.to_csv(directory + 'affiliates_dataV4.csv', index = False )

In [26]:
df_school = pd.read_csv(directory + 'Expected years of schooling (years).csv', encoding = "ISO-8859-1", skiprows =1,na_values ='..' )

In [27]:
df_school.drop(['HDI Rank (2017)','Unnamed: 57'], axis =1, inplace = True)

In [28]:
df_school.dropna(axis = 1,how ='all', inplace = True)

In [29]:
df_school.columns

Index(['Country', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017'],
      dtype='object')

In [30]:
df_school.dropna(thresh = 2, inplace = True)

In [31]:
df_school.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,2.6,2.9,3.2,3.6,3.9,4.2,4.6,4.9,5.2,...,8.9,9.2,9.5,9.8,10.0,10.2,10.4,10.4,10.4,10.4
1,Albania,11.6,11.8,10.7,10.2,10.1,10.2,10.3,10.6,10.7,...,12.2,12.3,13.1,13.8,14.7,14.8,14.8,14.8,14.8,14.8
2,Algeria,9.6,9.7,9.8,9.8,9.9,9.8,10.0,10.3,10.5,...,13.1,13.6,14.0,14.3,14.3,14.3,14.3,14.3,14.3,14.4
3,Andorra,10.8,10.8,10.8,10.8,10.8,10.8,10.8,10.8,10.8,...,11.7,11.7,11.7,11.7,13.5,13.5,13.5,13.5,13.5,13.5
4,Angola,3.8,3.6,3.5,3.7,3.8,3.9,4.0,4.1,4.2,...,8.5,9.0,8.6,9.5,9.9,10.3,10.7,11.0,11.4,11.8

In [32]:
school_melt = pd.melt(df_school, id_vars ='Country', var_name = 'year', value_name = 'yrs_school')

In [33]:
school_melt

                                        Country  year  yrs_school
0                                   Afghanistan  1990         2.6
1                                       Albania  1990        11.6
2                                       Algeria  1990         9.6
3                                       Andorra  1990        10.8
4                                        Angola  1990         3.8
5                           Antigua and Barbuda  1990         NaN
6                                     Argentina  1990        13.2
7                                       Armenia  1990        10.7
8                                     Australia  1990        17.4
9                                       Austria  1990        14.0
10                                   Azerbaijan  1990        10.7
11                                      Bahamas  1990        12.1
12                                      Bahrain  1990        13.4
13                                   Bangladesh  1990         5.6
14                                     Barbados  1990        12.8
15                                      Belarus  1990        12.9
16                                      Belgium  1990        14.1
17                                       Belize  1990        10.8
18                                        Benin  1990         5.3
19                                       Bhutan  1990         5.4
20             Bolivia (Plurinational State of)  1990        11.3
21                       Bosnia and Herzegovina  1990         NaN
22                                     Botswana  1990        10.0
23                                       Brazil  1990        12.2
24                            Brunei Darussalam  1990        12.1
25                                     Bulgaria  1990        12.1
26                                 Burkina Faso  1990         2.5
27                                      Burundi  1990         4.4
28                                   Cabo Verde  1990         NaN
29                                     Cambodia  1990         6.7
...                                         ...   ...         ...
5374                                      Sudan  2017         7.4
5375                                   Suriname  2017        12.7
5376                                     Sweden  2017        17.6
5377                                Switzerland  2017        16.2
5378                       Syrian Arab Republic  2017         8.8
5379                                 Tajikistan  2017        11.2
5380              Tanzania (United Republic of)  2017         8.9
5381                                   Thailand  2017        14.7
5382  The former Yugoslav Republic of Macedonia  2017        13.3
5383                                Timor-Leste  2017        12.8
5384                                       Togo  2017        12.4
5385                                      Tonga  2017        14.3
5386                        Trinidad and Tobago  2017        12.9
5387                                    Tunisia  2017        15.1
5388                                     Turkey  2017        15.2
5389                               Turkmenistan  2017        10.8
5390                                     Tuvalu  2017         NaN
5391                                     Uganda  2017        11.6
5392                                    Ukraine  2017        15.0
5393                       United Arab Emirates  2017        13.6
5394                             United Kingdom  2017        17.4
5395                              United States  2017        16.5
5396                                    Uruguay  2017        15.9
5397                                 Uzbekistan  2017        12.0
5398                                    Vanuatu  2017        10.9
5399         Venezuela (Bolivarian Republic of)  2017        14.3
5400                                   Viet Nam  2017        12.7
5401                                      Yemen  2017         9.0
5402                                     Zambia  2017        12.5
5403                                   Zimbabwe  2017        10.3

[5404 rows x 3 columns]

In [34]:
UN_map = {'Andorra': 'AND', 'Bolivia (Plurinational State of)': 'BOL', 'Cabo Verde': 'CPV',
       'Congo (Democratic Republic of the)':'COD', 'Cuba':'CUB', 'Czechia': 'CZE',
       "CÃ´te d'Ivoire":'CIV', 'Eswatini (Kingdom of)': 'SWZ', 'Guyana': 'GUY',
       'Hong Kong, China (SAR)': 'HKG', 'Iran (Islamic Republic of)': 'IRN', 'Kiribati':'KIR',
       "Korea (Democratic People's Rep. of)": 'PRK', 'Korea (Republic of)': 'KOR',
       "Lao People's Democratic Republic": 'LAO', 'Liechtenstein': 'LIE',
       'Micronesia (Federated States of)': 'FSM', 'Moldova (Republic of)': 'MDA',
       'Palestine, State of': 'PSE', 'San Marino': 'SMR', 'Sao Tome and Principe': 'STP',
       'South Sudan': 'SSD', 'Tanzania (United Republic of)':'TZA',
       'The former Yugoslav Republic of Macedonia':'MKD', 'Turkmenistan':'TKM',
       'Uzbekistan':'UZB', 'Venezuela (Bolivarian Republic of)':'VEN'}

In [35]:
country_code_map.update(UN_map)

In [36]:
school_melt['code'] = school_melt.Country.map(country_code_map)

In [37]:
school_melt[school_melt.code.isna()].Country.unique()

array([], dtype=object)

In [38]:
school_melt.year = school_melt.year.astype('int64')

In [39]:
home_school_df = school_melt[['code', 'year','yrs_school']]
home_school_df.columns = ['home_code', 'year','home_school']
home_school_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5404 entries, 0 to 5403
Data columns (total 3 columns):
home_code      5404 non-null object
year           5404 non-null int64
home_school    5142 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 126.7+ KB

In [40]:
home_school_df.head()

  home_code  year  home_school
0       AFG  1990          2.6
1       ALB  1990         11.6
2       DZA  1990          9.6
3       AND  1990         10.8
4       AGO  1990          3.8

In [41]:
host_school_df = school_melt[['code', 'year','yrs_school']]
host_school_df.columns = ['host_code', 'year','host_school']
host_school_df.head()

  host_code  year  host_school
0       AFG  1990          2.6
1       ALB  1990         11.6
2       DZA  1990          9.6
3       AND  1990         10.8
4       AGO  1990          3.8

In [42]:
df_main.head()

,home_code,host_code,year,industry,distance,scoreproced,minorinvest,enfcontract,paytax,minorinvest_lag,...,aff_im,aff_parex,aff_parim,fdi_flow,fdi_position,indus_ex,indus_im,skill_intens,aff_empl,aff_value_added
0,USA,ABW,2000,1,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,271792324.0,1.535549e+09,NaN,NaN,NaN
1,USA,ABW,2000,2,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,71186832.0,1.461237e+09,NaN,NaN,NaN
2,USA,ABW,2000,3,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,200605492.0,7.431215e+07,NaN,NaN,NaN
3,USA,ABW,2000,4,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,30969497.0,1.302712e+06,NaN,NaN,NaN
4,USA,ABW,2000,5,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,23017107.0,3.524300e+04,NaN,NaN,NaN

In [43]:
df_main = pd.merge(df_main, home_school_df, how = 'left', on =['home_code','year'])

In [44]:
df_main.head()

,home_code,host_code,year,industry,distance,scoreproced,minorinvest,enfcontract,paytax,minorinvest_lag,...,aff_parex,aff_parim,fdi_flow,fdi_position,indus_ex,indus_im,skill_intens,aff_empl,aff_value_added,home_school
0,USA,ABW,2000,1,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,271792324.0,1.535549e+09,NaN,NaN,NaN,15.5
1,USA,ABW,2000,2,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,71186832.0,1.461237e+09,NaN,NaN,NaN,15.5
2,USA,ABW,2000,3,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,200605492.0,7.431215e+07,NaN,NaN,NaN,15.5
3,USA,ABW,2000,4,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,30969497.0,1.302712e+06,NaN,NaN,NaN,15.5
4,USA,ABW,2000,5,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,23017107.0,3.524300e+04,NaN,NaN,NaN,15.5

In [45]:
df_main = pd.merge(df_main, host_school_df, how = 'left', on =['host_code','year'])

In [46]:
df_main[df_main.host_school.notna()]

,home_code,host_code,year,industry,distance,scoreproced,minorinvest,enfcontract,paytax,minorinvest_lag,...,aff_parim,fdi_flow,fdi_position,indus_ex,indus_im,skill_intens,aff_empl,aff_value_added,home_school,host_school
380,USA,AFG,2000,1,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8148732.0,780891.0,NaN,NaN,NaN,15.5,5.9
381,USA,AFG,2000,2,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,501434.0,7986.0,NaN,NaN,NaN,15.5,5.9
382,USA,AFG,2000,3,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7647298.0,772905.0,NaN,NaN,NaN,15.5,5.9
383,USA,AFG,2000,4,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5226127.0,237103.0,NaN,NaN,NaN,15.5,5.9
384,USA,AFG,2000,5,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1369151.0,22063.0,NaN,NaN,NaN,15.5,5.9
385,USA,AFG,2000,6,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,101237.0,NaN,NaN,NaN,NaN,15.5,5.9
386,USA,AFG,2000,7,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5,5.9
387,USA,AFG,2000,8,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5,5.9
388,USA,AFG,2000,9,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,424102.0,NaN,NaN,NaN,NaN,15.5,5.9
389,USA,AFG,2000,10,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,93857.0,NaN,NaN,NaN,NaN,15.5,5.9
390,USA,AFG,2000,11,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5,5.9
391,USA,AFG,2000,12,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5,5.9
392,USA,AFG,2000,13,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5,5.9
393,USA,AFG,2000,14,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5,5.9
394,USA,AFG,2000,15,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5,5.9
395,USA,AFG,2000,16,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,33499.0,10504.0,NaN,NaN,NaN,15.5,5.9
396,USA,AFG,2000,17,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5,5.9
397,USA,AFG,2000,18,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5,5.9
398,USA,AFG,2000,19,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5,5.9
399,USA,AFG,2000,20,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5,5.9
400,USA,AFG,2001,1,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5718973.0,769050.0,NaN,NaN,NaN,15.6,6.2
401,USA,AFG,2001,2,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,90688.0,26871.0,NaN,NaN,NaN,15.6,6.2
402,USA,AFG,2001,3,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5628285.0,742179.0,NaN,NaN,NaN,15.6,6.2
403,USA,AFG,2001,4,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4165905.0,118574.0,NaN,NaN,NaN,15.6,6.2
404,USA,AFG,2001,5,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,360469.0,NaN,NaN,NaN,NaN,15.6,6.2
405,USA,AFG,2001,6,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,261489.0,8943.0,NaN,NaN,NaN,15.6,6.2
406,USA,AFG,2001,7,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.6,6.2
407,USA,AFG,2001,8,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.6,6.2
408,USA,AFG,2001,9,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,489198.0,12699.0,NaN,NaN,NaN,15.6,6.2
409,USA,AFG,2001,10,10862.721256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,57136.0,NaN,NaN,NaN,NaN,15.6,6.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77850,USA,ZWE,2016,11,12538.648513,80.0,53.33,38.73,59.825,51.67,...,NaN,NaN,NaN,NaN,NaN,2.639579,NaN,NaN,16.5,10.3
77851,USA,ZWE,2016,12,12538.648513,80.0,53.33,38.73,59.825,51.67,...,NaN,NaN,NaN,NaN,NaN,2.594421,NaN,NaN,16.5,10.3
77852,USA,ZWE,2016,13,12538.648513,80.0,53.33,38.73,59.825,51.67,...,NaN,NaN,NaN,NaN,NaN,5.277534,NaN,NaN,16.5,10.3
77853,USA,ZWE,2016,14,12538.648513,80.0,53.33,38.73,59.825,51.67,...,NaN,NaN,NaN,NaN,NaN,5.496411,NaN,NaN,16.5,10.3
77854,USA,ZWE,2016,15,12538.648513,80.0,53.33,38.73,59.825,51.67,...,NaN,NaN,NaN,NaN,NaN,4.260115,NaN,NaN,16.5,10.3
77855,USA,ZWE,2016,16,12538.648513,80.0,53.33,38.73,59.825,51.67,...,NaN,NaN,NaN,514720.0,707863.0,2.637692,NaN,NaN,16.5,10.3
77856,USA,ZWE,2016,17,12538.648513,80.0,53.33,38.73,59.825,51.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.5,10.3
77857,USA,ZWE,2016,18,12538.648513,80.0,53.33,38.73,59.825,51.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.5,10.3
77858,USA,ZWE,2016,19,12538.648513,80.0,53.33,38.73,59.825,51.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.5,10.3
77859,USA,ZWE,2016,20,12538.648513,80.0,53.33,38.73,59.825,51.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.5,10.3
77860,USA,ZWE,2017,1,12538.648513,80.0,53.33,38.73,58.830,53.33,...,NaN,NaN,NaN,34844776.0,48984863.0,2.781010,NaN,NaN,16.5,10.3
77861,USA,ZWE,2017,2,12538.648513,80.0,53.33,38.73,58.830,53.33,...,NaN,NaN,NaN,15366.0,1211713.0,2.116566,NaN,NaN,16.5,10.3
77862,USA,ZWE,2017,3,12538.648513,80.0,53.33,38.73,58.830,53.33,...,NaN,NaN,NaN,34829410.0,47773150.0,2.260077,NaN,NaN,16.5,10.3
77863,USA,ZWE,2017,4,12538.648513,80.0,53.33,38.73,58.830,53.33,...,NaN,NaN,NaN,2675039.0,15183456.0,1.821645,NaN,NaN,16.5,10.3
77864,USA,ZWE,2017,5,12538.648513,80.0,53.33,38.73,58.830,53.33,...,NaN,NaN,NaN,3960282.0,202066.0,3.347946,NaN,NaN,16.5,10.3
77865,USA,ZWE,2017,6,12538.648513,80.0,53.33,38.73,58.830,53.33,...,NaN,NaN,NaN,610347.0,28795010.0,1.890912,NaN,NaN,16.5,10.3
77866,USA,ZWE,2017,7,12538.648513,80.0,53.33,38.73,58.830,53.33,...,NaN,NaN,NaN,NaN,NaN,2.517352,NaN,NaN,16.5,10.3
77867,USA,ZWE,2017,8,12538.648513,80.0,53.33,38.73,58.830,53.33,...,NaN,NaN,NaN,NaN,NaN,4.659999,NaN,NaN,16.5,10.3
77868,USA,ZWE,2017,9,12538.648513,80.0,53.33,38.73,58.830,53.33,...,NaN,NaN,NaN,11766612.0,119432.0,2.401938,NaN,NaN,16.5,10.3
77869,USA,ZWE,2017,10,12538.648513,80.0,53.33,38.73,58.830,53.33,...,NaN,NaN,NaN,10840204.0,2289.0,2.597130,NaN,NaN,16.5,10.3
77870,USA,ZWE,2017,11,12538.648513,80.0,53.33,38.73,58.830,53.33,...,NaN,NaN,NaN,NaN,NaN,2.579501,NaN,NaN,16.5,10.3
77871,USA,ZWE,2017,12,12538.648513,80.0,53.33,38.73,58.830,53.33,...,NaN,NaN,NaN,NaN,NaN,2.575552,NaN,NaN,16.5,10.3
77872,USA,ZWE,2017,13,12538.648513,80.0,53.33,38.73,58.830,53.33,...,NaN,NaN,NaN,NaN,NaN,5.073521,NaN,NaN,16.5,10.3
77873,USA,ZWE,2017,14,12538.648513,80.0,53.33,38.73,58.830,53.33,...,NaN,NaN,NaN,NaN,NaN,5.799876,NaN,NaN,16.5,10.3
77874,USA,ZWE,2017,15,12538.648513,80.0,53.33,38.73,58.830,53.33,...,NaN,NaN,NaN,NaN,NaN,4.108837,NaN,NaN,16.5,10.3
77875,USA,ZWE,2017,16,12538.648513,80.0,53.33,38.73,58.830,53.33,...,NaN,NaN,NaN,632359.0,1308091.0,2.538755,NaN,NaN,16.5,10.3
77876,USA,ZWE,2017,17,12538.648513,80.0,53.33,38.73,58.830,53.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.5,10.3
77877,USA,ZWE,2017,18,12538.648513,80.0,53.33,38.73,58.830,53.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.5,10.3
77878,USA,ZWE,2017,19,12538.648513,80.0,53.33,38.73,58.830,53.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.5,10.3
77879,USA,ZWE,2017,20,12538.648513,80.0,53.33,38.73,58.830,53.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.5,10.3

In [47]:
home_school_df[home_school_df.home_code == 'USA']

     home_code  year  home_school
184        USA  1990         15.3
377        USA  1991         15.3
570        USA  1992         15.6
763        USA  1993         15.8
956        USA  1994         15.9
1149       USA  1995         15.9
1342       USA  1996         15.8
1535       USA  1997         15.8
1728       USA  1998         15.9
1921       USA  1999         15.8
2114       USA  2000         15.5
2307       USA  2001         15.6
2500       USA  2002         15.7
2693       USA  2003         15.9
2886       USA  2004         15.9
3079       USA  2005         16.0
3272       USA  2006         16.1
3465       USA  2007         16.2
3658       USA  2008         16.3
3851       USA  2009         16.4
4044       USA  2010         16.6
4237       USA  2011         16.7
4430       USA  2012         16.6
4623       USA  2013         16.4
4816       USA  2014         16.4
5009       USA  2015         16.5
5202       USA  2016         16.5
5395       USA  2017         16.5

In [48]:
df_edu_index = pd.read_csv(directory + 'Education Index.csv', encoding = "ISO-8859-1", skiprows =1, na_values ='..')

In [49]:
df_edu_index.head()

,HDI Rank (2017),Country,1990,Unnamed: 3,1991,Unnamed: 5,1992,Unnamed: 7,1993,Unnamed: 9,...,2013,Unnamed: 49,2014,Unnamed: 51,2015,Unnamed: 53,2016,Unnamed: 55,2017,Unnamed: 57
0,168,Afghanistan,0.122,NaN,0.133,NaN,0.145,NaN,0.156,NaN,...,0.398,NaN,0.406,NaN,0.410,NaN,0.410,NaN,0.415,NaN
1,68,Albania,0.584,NaN,0.589,NaN,0.558,NaN,0.543,NaN,...,0.732,NaN,0.733,NaN,0.733,NaN,0.742,NaN,0.745,NaN
2,85,Algeria,0.385,NaN,0.395,NaN,0.405,NaN,0.414,NaN,...,0.660,NaN,0.661,NaN,0.662,NaN,0.663,NaN,0.664,NaN
3,35,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.715,NaN,0.716,NaN,0.715,NaN,0.714,NaN,0.714,NaN
4,147,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.447,NaN,0.460,NaN,0.472,NaN,0.487,NaN,0.498,NaN

In [50]:
df_edu_index.dropna(axis =1, how = 'all', inplace = True)

In [51]:
df_edu_index.columns

Index(['HDI Rank (2017)', 'Country', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017'],
      dtype='object')

In [52]:
df_edu_index.drop(['HDI Rank (2017)'], axis =1, inplace = True)

In [53]:
df_edu_index.dropna(thresh = 2, inplace = True)

In [54]:
edu_index_melt = pd.melt(df_edu_index, id_vars ='Country', var_name ='year', value_name ='edu_index')

In [55]:
edu_index_melt['code'] = edu_index_melt.Country.map(country_code_map)

In [56]:
edu_index_melt[edu_index_melt.code.isna()]

Empty DataFrame
Columns: [Country, year, edu_index, code]
Index: []

In [57]:
edu_index_melt.year = edu_index_melt.year.astype('int64')

In [58]:
home_edu_index = edu_index_melt[['code', 'year', 'edu_index']]
host_edu_index = edu_index_melt[['code', 'year', 'edu_index']]

In [59]:
home_edu_index.columns = ['home_code', 'year','home_edu_index']
host_edu_index.columns = ['host_code', 'year','host_edu_index']

In [60]:
home_edu_index.head()

  home_code  year  home_edu_index
0       AFG  1990           0.122
1       ALB  1990           0.584
2       DZA  1990           0.385
3       AND  1990             NaN
4       AGO  1990             NaN

In [61]:
host_edu_index.head()

  host_code  year  host_edu_index
0       AFG  1990           0.122
1       ALB  1990           0.584
2       DZA  1990           0.385
3       AND  1990             NaN
4       AGO  1990             NaN

In [62]:
df_main = pd.merge(df_main,home_edu_index, how = 'left',on=['home_code','year'] )

In [63]:
df_main = pd.merge(df_main, host_edu_index, how = 'left',on=['host_code','year'] )

In [64]:
df_main[df_main.home_edu_index.notna()].head()

,home_code,host_code,year,industry,distance,scoreproced,minorinvest,enfcontract,paytax,minorinvest_lag,...,fdi_position,indus_ex,indus_im,skill_intens,aff_empl,aff_value_added,home_school,host_school,home_edu_index,host_edu_index
0,USA,ABW,2000,1,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,271792324.0,1.535549e+09,NaN,NaN,NaN,15.5,NaN,0.854,NaN
1,USA,ABW,2000,2,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,71186832.0,1.461237e+09,NaN,NaN,NaN,15.5,NaN,0.854,NaN
2,USA,ABW,2000,3,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,200605492.0,7.431215e+07,NaN,NaN,NaN,15.5,NaN,0.854,NaN
3,USA,ABW,2000,4,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,30969497.0,1.302712e+06,NaN,NaN,NaN,15.5,NaN,0.854,NaN
4,USA,ABW,2000,5,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,23017107.0,3.524300e+04,NaN,NaN,NaN,15.5,NaN,0.854,NaN

In [65]:
df_main[df_main.host_edu_index.notna()].tail()

,home_code,host_code,year,industry,distance,scoreproced,minorinvest,enfcontract,paytax,minorinvest_lag,...,fdi_position,indus_ex,indus_im,skill_intens,aff_empl,aff_value_added,home_school,host_school,home_edu_index,host_edu_index
77875,USA,ZWE,2017,16,12538.648513,80.0,53.33,38.73,58.83,53.33,...,NaN,632359.0,1308091.0,2.538755,NaN,NaN,16.5,10.3,0.903,0.558
77876,USA,ZWE,2017,17,12538.648513,80.0,53.33,38.73,58.83,53.33,...,NaN,NaN,NaN,NaN,NaN,NaN,16.5,10.3,0.903,0.558
77877,USA,ZWE,2017,18,12538.648513,80.0,53.33,38.73,58.83,53.33,...,NaN,NaN,NaN,NaN,NaN,NaN,16.5,10.3,0.903,0.558
77878,USA,ZWE,2017,19,12538.648513,80.0,53.33,38.73,58.83,53.33,...,NaN,NaN,NaN,NaN,NaN,NaN,16.5,10.3,0.903,0.558
77879,USA,ZWE,2017,20,12538.648513,80.0,53.33,38.73,58.83,53.33,...,NaN,NaN,NaN,NaN,NaN,NaN,16.5,10.3,0.903,0.558

In [66]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77900 entries, 0 to 77899
Data columns (total 60 columns):
home_code            77900 non-null object
host_code            77900 non-null object
year                 77900 non-null object
industry             77900 non-null object
distance             75620 non-null float64
scoreproced          41980 non-null float64
minorinvest          41980 non-null float64
enfcontract          47720 non-null float64
paytax               41980 non-null float64
minorinvest_lag      38400 non-null float64
uncertainty          32200 non-null float64
home_gdp             73800 non-null float64
host_gdp             67720 non-null float64
couprisk             61200 non-null float64
couprisk_lag         61160 non-null float64
tariff_avg           50900 non-null float64
tariff_w_avg         50900 non-null float64
uncertainty_lag      29900 non-null float64
home_gdp_capita      73800 non-null float64
host_gdp_capita      67720 non-null float64
partner_directed     73800 non-null object
OECD_partner         73800 non-null float64
home_north           73800 non-null float64
host_north           73800 non-null float64
north-north          73800 non-null float64
north-south          73800 non-null float64
south-north          73800 non-null float64
south-south          73800 non-null float64
host_lock            73800 non-null float64
lang                 73800 non-null float64
NAFTA                73800 non-null float64
migration            16160 non-null float64
fiscal_score         3560 non-null float64
invest_score         58640 non-null float64
judic_score          3540 non-null float64
integrity_score      58920 non-null float64
monthly_precip       61500 non-null float64
yearly_precip        61500 non-null float64
precip_volatility    61500 non-null float64
road_home            36900 non-null float64
road_host            18240 non-null float64
home_polcon          69700 non-null float64
host_polcon          30480 non-null float64
border               73800 non-null float64
aff_sales            6747 non-null float64
aff_ex               6126 non-null float64
aff_im               6100 non-null float64
aff_parex            5613 non-null float64
aff_parim            5787 non-null float64
fdi_flow             14516 non-null float64
fdi_position         15254 non-null float64
indus_ex             32057 non-null float64
indus_im             29041 non-null float64
skill_intens         32800 non-null float64
aff_empl             8064 non-null float64
aff_value_added      6869 non-null float64
home_school          73800 non-null float64
host_school          64880 non-null float64
home_edu_index       73800 non-null float64
host_edu_index       63360 non-null float64
dtypes: float64(55), object(5)
memory usage: 36.3+ MB

In [67]:
df_main.to_csv(directory + 'affiliates_dataV5.csv', index = False )

In [68]:
df_main['dum_total'] = df_main.industry.apply(lambda x: int(1) if x == 1 else int(0))

In [69]:
df_main[df_main.dum_total ==1].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3895 entries, 0 to 77880
Data columns (total 61 columns):
home_code            3895 non-null object
host_code            3895 non-null object
year                 3895 non-null object
industry             3895 non-null object
distance             3781 non-null float64
scoreproced          2099 non-null float64
minorinvest          2099 non-null float64
enfcontract          2386 non-null float64
paytax               2099 non-null float64
minorinvest_lag      1920 non-null float64
uncertainty          1610 non-null float64
home_gdp             3690 non-null float64
host_gdp             3386 non-null float64
couprisk             3060 non-null float64
couprisk_lag         3058 non-null float64
tariff_avg           2545 non-null float64
tariff_w_avg         2545 non-null float64
uncertainty_lag      1495 non-null float64
home_gdp_capita      3690 non-null float64
host_gdp_capita      3386 non-null float64
partner_directed     3690 non-null object
OECD_partner         3690 non-null float64
home_north           3690 non-null float64
host_north           3690 non-null float64
north-north          3690 non-null float64
north-south          3690 non-null float64
south-north          3690 non-null float64
south-south          3690 non-null float64
host_lock            3690 non-null float64
lang                 3690 non-null float64
NAFTA                3690 non-null float64
migration            808 non-null float64
fiscal_score         178 non-null float64
invest_score         2932 non-null float64
judic_score          177 non-null float64
integrity_score      2946 non-null float64
monthly_precip       3075 non-null float64
yearly_precip        3075 non-null float64
precip_volatility    3075 non-null float64
road_home            1845 non-null float64
road_host            912 non-null float64
home_polcon          3485 non-null float64
host_polcon          1524 non-null float64
border               3690 non-null float64
aff_sales            503 non-null float64
aff_ex               469 non-null float64
aff_im               426 non-null float64
aff_parex            391 non-null float64
aff_parim            349 non-null float64
fdi_flow             1036 non-null float64
fdi_position         1042 non-null float64
indus_ex             3650 non-null float64
indus_im             3626 non-null float64
skill_intens         2050 non-null float64
aff_empl             504 non-null float64
aff_value_added      503 non-null float64
home_school          3690 non-null float64
host_school          3244 non-null float64
home_edu_index       3690 non-null float64
host_edu_index       3168 non-null float64
dum_total            3895 non-null int64
dtypes: float64(55), int64(1), object(5)
memory usage: 1.8+ MB

In [70]:
def by_indus_total(x):
    if x not in [1, 4,5,6,7,8,9,10]:
        return int(1)
    else:
        return int(0)

In [71]:
df_main['dum_indus_total'] = df_main.industry.apply(by_indus_total)

In [72]:
df_main[df_main.dum_indus_total ==1].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46740 entries, 1 to 77899
Data columns (total 62 columns):
home_code            46740 non-null object
host_code            46740 non-null object
year                 46740 non-null object
industry             46740 non-null object
distance             45372 non-null float64
scoreproced          25188 non-null float64
minorinvest          25188 non-null float64
enfcontract          28632 non-null float64
paytax               25188 non-null float64
minorinvest_lag      23040 non-null float64
uncertainty          19320 non-null float64
home_gdp             44280 non-null float64
host_gdp             40632 non-null float64
couprisk             36720 non-null float64
couprisk_lag         36696 non-null float64
tariff_avg           30540 non-null float64
tariff_w_avg         30540 non-null float64
uncertainty_lag      17940 non-null float64
home_gdp_capita      44280 non-null float64
host_gdp_capita      40632 non-null float64
partner_directed     44280 non-null object
OECD_partner         44280 non-null float64
home_north           44280 non-null float64
host_north           44280 non-null float64
north-north          44280 non-null float64
north-south          44280 non-null float64
south-north          44280 non-null float64
south-south          44280 non-null float64
host_lock            44280 non-null float64
lang                 44280 non-null float64
NAFTA                44280 non-null float64
migration            9696 non-null float64
fiscal_score         2136 non-null float64
invest_score         35184 non-null float64
judic_score          2124 non-null float64
integrity_score      35352 non-null float64
monthly_precip       36900 non-null float64
yearly_precip        36900 non-null float64
precip_volatility    36900 non-null float64
road_home            22140 non-null float64
road_host            10944 non-null float64
home_polcon          41820 non-null float64
host_polcon          18288 non-null float64
border               44280 non-null float64
aff_sales            3403 non-null float64
aff_ex               3018 non-null float64
aff_im               3083 non-null float64
aff_parex            2781 non-null float64
aff_parim            2988 non-null float64
fdi_flow             7629 non-null float64
fdi_position         8100 non-null float64
indus_ex             10568 non-null float64
indus_im             10096 non-null float64
skill_intens         16400 non-null float64
aff_empl             4032 non-null float64
aff_value_added      3456 non-null float64
home_school          44280 non-null float64
host_school          38928 non-null float64
home_edu_index       44280 non-null float64
host_edu_index       38016 non-null float64
dum_total            46740 non-null int64
dum_indus_total      46740 non-null int64
dtypes: float64(55), int64(2), object(5)
memory usage: 22.5+ MB

In [73]:
df_main[(df_main.dum_indus_total ==1) & (df_main.dum_total ==1)]

Empty DataFrame
Columns: [home_code, host_code, year, industry, distance, scoreproced, minorinvest, enfcontract, paytax, minorinvest_lag, uncertainty, home_gdp, host_gdp, couprisk, couprisk_lag, tariff_avg, tariff_w_avg, uncertainty_lag, home_gdp_capita, host_gdp_capita, partner_directed, OECD_partner, home_north, host_north, north-north, north-south, south-north, south-south, host_lock, lang, NAFTA, migration, fiscal_score, invest_score, judic_score, integrity_score, monthly_precip, yearly_precip, precip_volatility, road_home, road_host, home_polcon, host_polcon, border, aff_sales, aff_ex, aff_im, aff_parex, aff_parim, fdi_flow, fdi_position, indus_ex, indus_im, skill_intens, aff_empl, aff_value_added, home_school, host_school, home_edu_index, host_edu_index, dum_total, dum_indus_total]
Index: []

[0 rows x 62 columns]

In [78]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77900 entries, 0 to 77899
Data columns (total 62 columns):
home_code            77900 non-null object
host_code            77900 non-null object
year                 77900 non-null object
industry             77900 non-null object
distance             75620 non-null float64
scoreproced          41980 non-null float64
minorinvest          41980 non-null float64
enfcontract          47720 non-null float64
paytax               41980 non-null float64
minorinvest_lag      38400 non-null float64
uncertainty          32200 non-null float64
home_gdp             73800 non-null float64
host_gdp             67720 non-null float64
couprisk             61200 non-null float64
couprisk_lag         61160 non-null float64
tariff_avg           50900 non-null float64
tariff_w_avg         50900 non-null float64
uncertainty_lag      29900 non-null float64
home_gdp_capita      73800 non-null float64
host_gdp_capita      67720 non-null float64
partner_directed     73800 non-null object
OECD_partner         73800 non-null float64
home_north           73800 non-null float64
host_north           73800 non-null float64
north-north          73800 non-null float64
north-south          73800 non-null float64
south-north          73800 non-null float64
south-south          73800 non-null float64
host_lock            73800 non-null float64
lang                 73800 non-null float64
NAFTA                73800 non-null float64
migration            16160 non-null float64
fiscal_score         3560 non-null float64
invest_score         58640 non-null float64
judic_score          3540 non-null float64
integrity_score      58920 non-null float64
monthly_precip       61500 non-null float64
yearly_precip        61500 non-null float64
precip_volatility    61500 non-null float64
road_home            36900 non-null float64
road_host            18240 non-null float64
home_polcon          69700 non-null float64
host_polcon          30480 non-null float64
border               73800 non-null float64
aff_sales            6747 non-null float64
aff_ex               6126 non-null float64
aff_im               6100 non-null float64
aff_parex            5613 non-null float64
aff_parim            5787 non-null float64
fdi_flow             14516 non-null float64
fdi_position         15254 non-null float64
indus_ex             32057 non-null float64
indus_im             29041 non-null float64
skill_intens         32800 non-null float64
aff_empl             8064 non-null float64
aff_value_added      6869 non-null float64
home_school          73800 non-null float64
host_school          64880 non-null float64
home_edu_index       73800 non-null float64
host_edu_index       63360 non-null float64
dum_total            77900 non-null int64
dum_indus_total      77900 non-null int64
dtypes: float64(55), int64(2), object(5)
memory usage: 37.4+ MB

In [74]:
def by_indus(x):
    if x not in [1, 3]:
        return int(1)
    else:
        return int(0)

In [75]:
df_main.head()

,home_code,host_code,year,industry,distance,scoreproced,minorinvest,enfcontract,paytax,minorinvest_lag,...,indus_im,skill_intens,aff_empl,aff_value_added,home_school,host_school,home_edu_index,host_edu_index,dum_total,dum_indus_total
0,USA,ABW,2000,1,3147.434733,NaN,NaN,NaN,NaN,NaN,...,1.535549e+09,NaN,NaN,NaN,15.5,NaN,0.854,NaN,1,0
1,USA,ABW,2000,2,3147.434733,NaN,NaN,NaN,NaN,NaN,...,1.461237e+09,NaN,NaN,NaN,15.5,NaN,0.854,NaN,0,1
2,USA,ABW,2000,3,3147.434733,NaN,NaN,NaN,NaN,NaN,...,7.431215e+07,NaN,NaN,NaN,15.5,NaN,0.854,NaN,0,1
3,USA,ABW,2000,4,3147.434733,NaN,NaN,NaN,NaN,NaN,...,1.302712e+06,NaN,NaN,NaN,15.5,NaN,0.854,NaN,0,0
4,USA,ABW,2000,5,3147.434733,NaN,NaN,NaN,NaN,NaN,...,3.524300e+04,NaN,NaN,NaN,15.5,NaN,0.854,NaN,0,0

In [79]:
df_main['dum_indus'] = df_main.industry.apply(by_indus)

In [80]:
df_main.head()

,home_code,host_code,year,industry,distance,scoreproced,minorinvest,enfcontract,paytax,minorinvest_lag,...,skill_intens,aff_empl,aff_value_added,home_school,host_school,home_edu_index,host_edu_index,dum_total,dum_indus_total,dum_indus
0,USA,ABW,2000,1,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,15.5,NaN,0.854,NaN,1,0,0
1,USA,ABW,2000,2,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,15.5,NaN,0.854,NaN,0,1,1
2,USA,ABW,2000,3,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,15.5,NaN,0.854,NaN,0,1,0
3,USA,ABW,2000,4,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,15.5,NaN,0.854,NaN,0,0,1
4,USA,ABW,2000,5,3147.434733,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,15.5,NaN,0.854,NaN,0,0,1

In [82]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77900 entries, 0 to 77899
Data columns (total 63 columns):
home_code            77900 non-null object
host_code            77900 non-null object
year                 77900 non-null object
industry             77900 non-null object
distance             75620 non-null float64
scoreproced          41980 non-null float64
minorinvest          41980 non-null float64
enfcontract          47720 non-null float64
paytax               41980 non-null float64
minorinvest_lag      38400 non-null float64
uncertainty          32200 non-null float64
home_gdp             73800 non-null float64
host_gdp             67720 non-null float64
couprisk             61200 non-null float64
couprisk_lag         61160 non-null float64
tariff_avg           50900 non-null float64
tariff_w_avg         50900 non-null float64
uncertainty_lag      29900 non-null float64
home_gdp_capita      73800 non-null float64
host_gdp_capita      67720 non-null float64
partner_directed     73800 non-null object
OECD_partner         73800 non-null float64
home_north           73800 non-null float64
host_north           73800 non-null float64
north-north          73800 non-null float64
north-south          73800 non-null float64
south-north          73800 non-null float64
south-south          73800 non-null float64
host_lock            73800 non-null float64
lang                 73800 non-null float64
NAFTA                73800 non-null float64
migration            16160 non-null float64
fiscal_score         3560 non-null float64
invest_score         58640 non-null float64
judic_score          3540 non-null float64
integrity_score      58920 non-null float64
monthly_precip       61500 non-null float64
yearly_precip        61500 non-null float64
precip_volatility    61500 non-null float64
road_home            36900 non-null float64
road_host            18240 non-null float64
home_polcon          69700 non-null float64
host_polcon          30480 non-null float64
border               73800 non-null float64
aff_sales            6747 non-null float64
aff_ex               6126 non-null float64
aff_im               6100 non-null float64
aff_parex            5613 non-null float64
aff_parim            5787 non-null float64
fdi_flow             14516 non-null float64
fdi_position         15254 non-null float64
indus_ex             32057 non-null float64
indus_im             29041 non-null float64
skill_intens         32800 non-null float64
aff_empl             8064 non-null float64
aff_value_added      6869 non-null float64
home_school          73800 non-null float64
host_school          64880 non-null float64
home_edu_index       73800 non-null float64
host_edu_index       63360 non-null float64
dum_total            77900 non-null int64
dum_indus_total      77900 non-null int64
dum_indus            77900 non-null int64
dtypes: float64(55), int64(3), object(5)
memory usage: 38.0+ MB

In [83]:
df_main.to_csv(directory + 'affiliates_dataV6.csv', index = False )