In [1]:
import pandas as pd
import numpy as np
import os
import re
import math
from itertools import product
import time

In [2]:
dir_base_dataset = "/media/sony/0CA83E99A83E80EE/Chris/Bocconi/Thesis/Data_copy/"

In [3]:
data_dir  = "/media/sony/0CA83E99A83E80EE/Chris/Bocconi/Thesis/Data_copy/Data/FDI"

In [4]:
directory  = "/media/sony/0CA83E99A83E80EE/Chris/Bocconi/Thesis/Data_copy/Data/"

In [5]:
#generate country code map
names_convertAB = {'Congo, Democratic Rep. of' : 'Democratic Republic of Congo',
           'Venezuela, Bolivarian Rep. of': 'Bolivarian Republic of Venezuela',
          'United Rep. of Tanzania': 'United Republic of Tanzania',
           'Korea, Republic of': 'Republic of Korea',
           'Iran, Islamic Republic of': 'Islamic Republic of Iran',
           'Moldova, Republic of': 'Republic of Moldova',
           'Bolivia, Plurinational State of': 'Plurinational State of Bolivia',
            "Lao People's Dem. Rep.": "Lao People's Democratic Republic"
          }
names_convertBA = dict( [(value, key) for key, value in names_convertAB.items()] )
country_code_map = dict()
for path in os.listdir(data_dir):
    country_code = re.findall(r'_([A-Z]+)', path)[0]
    hostname_df = pd.read_excel(data_dir+'/' + path, sheet_name= 0, na_values ='..')
    country_code_map[" ".join(hostname_df.columns[0].split())] = country_code
for key, val in names_convertBA.items():
    country_code_map[val] = country_code_map[key]
    del country_code_map[key]

In [10]:
df_base = pd.read_csv(directory +'merged_COPY.csv')
df_left = df_base.copy()
#df_left['home_code'] = df_left.home.map(country_code_map)
#df_left['host_code'] = df_left.host.map(country_code_map)

In [11]:
df_left.head()

,home,host,year,fdi,home_code,host_code,region,income_group,scoreproced,minorinvest,enfcontract,paytax,minorinvest_lag,diff_minorinvest
0,Albania,Afghanistan,1993,NaN,ALB,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Algeria,Afghanistan,1993,NaN,DZA,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,American Samoa,Afghanistan,1993,NaN,ASM,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Angola,Afghanistan,1993,NaN,AGO,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Anguilla,Afghanistan,1993,NaN,AIA,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_dist = pd.read_csv(directory +'distances.csv',index_col = 0,na_values='?')
df_dist[df_dist.isna().any(axis=1)]

,ABW,AFG,AGO,AIA,ALB,AND,ARE,ARG,ARM,ASM,...,VCT,VEN,VNM,VUT,WLF,WSM,YEM,ZAF,ZMB,ZWE
,,,,,,,,,,,,,,,,,,,,,
GIB,6927.278794,6598.972365,5346.244292,5961.118373,2254.084914,921.457563,5841.665067,9571.394495,4335.731276,17182.271819,...,6105.857400,6779.340247,11214.253153,17872.956549,17312.955129,17190.591136,5408.378081,8141.238768,6714.430429,7097.491094
NZL,13080.866111,13463.706724,14593.215257,14048.742542,17808.067623,19160.196808,14202.310317,10374.765669,15725.863652,2888.880916,...,13894.737682,13223.140050,8848.306714,2212.532441,2764.463898,2882.025541,14609.608542,11793.936530,13240.718905,12859.238287
PRY,4394.691885,14848.235102,7680.384028,4850.080943,10855.246380,9650.562564,13353.977525,1034.783349,12771.070627,11553.482740,...,4272.418919,4084.210763,17712.461167,13131.337158,12113.488092,11677.265516,11900.090522,7264.617726,8896.196924,9058.455702
TWN,15665.182940,5113.822929,12267.073017,15192.125362,9120.351631,10332.658823,6602.255019,18943.564649,7198.248041,8539.934376,...,15766.888808,15969.731820,2225.604778,6937.116725,7977.077797,8415.937391,8052.304589,12673.612396,11046.002790,10882.603798

In [13]:
df_dist.head()

,ABW,AFG,AGO,AIA,ALB,AND,ARE,ARG,ARM,ASM,...,VCT,VEN,VNM,VUT,WLF,WSM,YEM,ZAF,ZMB,ZWE
,,,,,,,,,,,,,,,,,,,,,
ABW,0.000000,13252.562557,9500.724683,973.535120,9085.425408,7565.414510,12767.098434,5360.114081,11105.217199,11491.150358,...,953.217628,407.254233,17394.630809,13764.066135,12057.320301,11596.227190,12153.647425,10635.960050,11252.792271,11587.659716
AFG,13252.562557,0.000000,7592.695548,12295.402341,4344.887482,5809.607175,1685.264881,15269.257992,2264.595710,13650.655759,...,12582.312572,13213.101745,4615.406201,11930.663622,13090.899638,13527.156291,3279.105626,9242.212938,7017.607917,7060.695339
AGO,9500.724683,7592.695548,0.000000,8894.790019,5594.945971,5808.941318,5917.159476,7777.930733,6309.127205,17411.816974,...,8581.313382,9127.152398,10567.405666,16001.483832,17350.882991,17438.154618,4339.161563,2828.661088,1791.381489,2169.266415
AIA,973.535120,12295.402341,8894.790019,0.000000,8111.936087,6591.882815,11797.582285,5867.656461,10134.035979,12335.378909,...,593.198987,949.165376,16601.574937,14610.029750,12882.443919,12434.627974,11234.495290,10369.917631,10679.299892,11038.903154
ALB,9085.425408,4344.887482,5594.945971,8111.936087,0.000000,1520.615798,3718.578045,11591.279736,2082.227281,16840.407230,...,8313.202282,8974.865549,8960.200423,16037.392002,16534.505765,16759.477394,3714.765270,8333.606713,6341.330364,6650.773482

In [14]:
unknown_codes = []
for code in df_dist.columns:
    if code not in country_code_map.values():
        unknown_codes.append(code)

In [15]:
unknown_codes

['AND',
 'ATA',
 'ATF',
 'BES',
 'BLM',
 'CCK',
 'CUB',
 'CUW',
 'CXR',
 'ESH',
 'FRO',
 'GGY',
 'GIB',
 'GLP',
 'GRL',
 'GUF',
 'GUM',
 'GUY',
 'HKG',
 'IMN',
 'IOT',
 'JEY',
 'KIR',
 'LIE',
 'MCO',
 'MSR',
 'MTQ',
 'MYT',
 'NFK',
 'PCN',
 'SGS',
 'SJM',
 'SMR',
 'SPM',
 'SSD',
 'TKM',
 'UZB',
 'WLF']

In [16]:
# AND andora, CUB cuba, Hongkong HKIG

In [17]:
missing_dist = []
for code in country_code_map.values():
    if code not in df_dist.columns:
        print(code)

ANT
VGB
VIR
PRK
HGK
BIOT
BRN
KOR
LAO

In [18]:
useful_missing = [ 'KOR', 'LAO']

In [19]:
#Finding distance to useful countries
to_countries = list(df_dist.columns) + useful_missing
from_countries = useful_missing

In [20]:
useful_combination = pd.DataFrame(list(product(from_countries, to_countries)))
useful_combination

       0    1
0    KOR  ABW
1    KOR  AFG
2    KOR  AGO
3    KOR  AIA
4    KOR  ALB
5    KOR  AND
6    KOR  ARE
7    KOR  ARG
8    KOR  ARM
9    KOR  ASM
10   KOR  ATA
11   KOR  ATF
12   KOR  ATG
13   KOR  AUS
14   KOR  AUT
15   KOR  AZE
16   KOR  BDI
17   KOR  BEL
18   KOR  BEN
19   KOR  BES
20   KOR  BFA
21   KOR  BGD
22   KOR  BGR
23   KOR  BHR
24   KOR  BHS
25   KOR  BIH
26   KOR  BLM
27   KOR  BLR
28   KOR  BLZ
29   KOR  BMU
..   ...  ...
444  LAO  TGO
445  LAO  THA
446  LAO  TJK
447  LAO  TKL
448  LAO  TKM
449  LAO  TLS
450  LAO  TON
451  LAO  TTO
452  LAO  TUN
453  LAO  TUR
454  LAO  TUV
455  LAO  TWN
456  LAO  TZA
457  LAO  UGA
458  LAO  UKR
459  LAO  URY
460  LAO  USA
461  LAO  UZB
462  LAO  VCT
463  LAO  VEN
464  LAO  VNM
465  LAO  VUT
466  LAO  WLF
467  LAO  WSM
468  LAO  YEM
469  LAO  ZAF
470  LAO  ZMB
471  LAO  ZWE
472  LAO  KOR
473  LAO  LAO

[474 rows x 2 columns]

In [21]:
useful_combination

       0    1
0    KOR  ABW
1    KOR  AFG
2    KOR  AGO
3    KOR  AIA
4    KOR  ALB
5    KOR  AND
6    KOR  ARE
7    KOR  ARG
8    KOR  ARM
9    KOR  ASM
10   KOR  ATA
11   KOR  ATF
12   KOR  ATG
13   KOR  AUS
14   KOR  AUT
15   KOR  AZE
16   KOR  BDI
17   KOR  BEL
18   KOR  BEN
19   KOR  BES
20   KOR  BFA
21   KOR  BGD
22   KOR  BGR
23   KOR  BHR
24   KOR  BHS
25   KOR  BIH
26   KOR  BLM
27   KOR  BLR
28   KOR  BLZ
29   KOR  BMU
..   ...  ...
444  LAO  TGO
445  LAO  THA
446  LAO  TJK
447  LAO  TKL
448  LAO  TKM
449  LAO  TLS
450  LAO  TON
451  LAO  TTO
452  LAO  TUN
453  LAO  TUR
454  LAO  TUV
455  LAO  TWN
456  LAO  TZA
457  LAO  UGA
458  LAO  UKR
459  LAO  URY
460  LAO  USA
461  LAO  UZB
462  LAO  VCT
463  LAO  VEN
464  LAO  VNM
465  LAO  VUT
466  LAO  WLF
467  LAO  WSM
468  LAO  YEM
469  LAO  ZAF
470  LAO  ZMB
471  LAO  ZWE
472  LAO  KOR
473  LAO  LAO

[474 rows x 2 columns]

In [22]:
len(useful_combination[1])

474

In [23]:
useful_combination = useful_combination[useful_combination[0] != useful_combination[1]]

In [24]:
len(useful_combination)

472

In [25]:
useful_combination.reset_index(drop=True, inplace = True)

In [26]:
df_insert = pd.DataFrame( np.zeros((len(to_countries),len(to_countries))) )

In [27]:
df_insert.columns = to_countries
df_insert.index = to_countries

In [28]:
df_insert_stack = pd.DataFrame( df_insert.stack() )

In [29]:
df_insert_stack.reset_index(inplace=True)
df_insert_stack.rename(columns = {'level_0': 'home', 'level_1': 'host', 0:'distance'}, inplace = True)
del df_insert_stack['distance']

In [30]:
df_insert_stack.head()

  home host
0  ABW  ABW
1  ABW  AFG
2  ABW  AGO
3  ABW  AIA
4  ABW  ALB

In [31]:
df_temp = df_dist.reset_index()

In [32]:
df_temp = df_temp.melt(id_vars = ' ', value_name = 'distance', var_name = 'host')
df_temp.rename(columns = {' ': 'home'}, inplace= True)

In [33]:
df_temp.head()

  home host      distance
0  ABW  ABW      0.000000
1  AFG  ABW  13252.562557
2  AGO  ABW   9500.724683
3  AIA  ABW    973.535120
4  ALB  ABW   9085.425408

In [34]:
df_dist_merged = pd.merge(df_insert_stack, df_temp, how = 'left', on = ['home','host'])

In [35]:
df_dist_merged.head()

  home host      distance
0  ABW  ABW      0.000000
1  ABW  AFG  13252.562557
2  ABW  AGO   9500.724683
3  ABW  AIA    973.535120
4  ABW  ALB   9085.425408

In [36]:
#df_insert = pd.pivot_table(df_dist_merged, index = 'home', columns= 'host', values= 'distance')

In [37]:
#df_insert.head()

In [38]:
try:
    fill_dist = pd.read_csv(directory + 'fill_dist.csv')
except FileNotFoundError:
    print('Not pass')
    empty_vec =np.empty( (len(useful_combination)) )
    empty_vec[:] = np.nan
    bool_vec =np.zeros( (len(useful_combination)),dtype= bool )



    fill_dist = pd.concat([useful_combination,pd.DataFrame(empty_vec), pd.DataFrame(bool_vec)],axis=1)
    fill_dist.columns = ['home','host','distance','scraped']
   #fill_dist.to_csv(directory + 'fill_dist.csv', index = False)

In [39]:
len(fill_dist[fill_dist.scraped == False])

0

In [40]:
#fill_dist.loc[(fill_dist.home == 'HKG') & (fill_dist.host =='ABW'),'scraped' ] = True
#fill_dist.loc[(fill_dist.home == 'HKG') & (fill_dist.host =='AGO'),'scraped' ] = True

In [41]:
fill_dist.head()

  home host      distance  scraped
0  HKG  ABW  16127.092035     True
1  HKG  AFG   4571.468015     True
2  HKG  AGO  11502.631634     True
3  HKG  AIA           NaN     True
4  HKG  ALB   8754.577253     True

In [42]:
scraped_pairs = dict()

In [43]:
for index, row in fill_dist.iterrows():
    if row[3] == True:
        try:
            scraped_pairs[row[0]].append(row[1])
        except:
            scraped_pairs[row[0]] = [row[1]]

In [44]:
if len(scraped_pairs) == 0:
    for code in fill_dist.home.unique():
        scraped_pairs[code] = []

In [45]:
scraped_pairs

{'HKG': ['ABW',
  'AFG',
  'AGO',
  'AIA',
  'ALB',
  'AND',
  'ARE',
  'ARG',
  'ARM',
  'ASM',
  'ATA',
  'ATF',
  'ATG',
  'AUS',
  'AUT',
  'AZE',
  'BDI',
  'BEL',
  'BEN',
  'BES',
  'BFA',
  'BGD',
  'BGR',
  'BHR',
  'BHS',
  'BIH',
  'BLM',
  'BLR',
  'BLZ',
  'BMU',
  'BOL',
  'BRA',
  'BRB',
  'BTN',
  'BWA',
  'CAF',
  'CAN',
  'CCK',
  'CHE',
  'CHL',
  'CHN',
  'CIV',
  'CMR',
  'COD',
  'COG',
  'COK',
  'COL',
  'COM',
  'CPV',
  'CRI',
  'CUB',
  'CUW',
  'CXR',
  'CYM',
  'CYP',
  'CZE',
  'DEU',
  'DJI',
  'DMA',
  'DNK',
  'DOM',
  'DZA',
  'ECU',
  'EGY',
  'ERI',
  'ESH',
  'ESP',
  'EST',
  'ETH',
  'FIN',
  'FJI',
  'FRA',
  'FRO',
  'FSM',
  'GAB',
  'GBR',
  'GEO',
  'GGY',
  'GHA',
  'GIB',
  'GIN',
  'GLP',
  'GMB',
  'GNB',
  'GNQ',
  'GRC',
  'GRD',
  'GRL',
  'GTM',
  'GUF',
  'GUM',
  'GUY',
  'HND',
  'HRV',
  'HTI',
  'HUN',
  'IDN',
  'IMN',
  'IND',
  'IOT',
  'IRL',
  'IRN',
  'IRQ',
  'ISL',
  'ISR',
  'ITA',
  'JAM',
  'JEY',
  'JOR',
  'JPN',
  'KAZ',
  'KEN',
  'KGZ',
  'KHM',
  'KIR',
  'KNA',
  'KWT',
  'LBN',
  'LBR',
  'LBY',
  'LCA',
  'LIE',
  'LKA',
  'LSO',
  'LTU',
  'LUX',
  'LVA',
  'MAC',
  'MAR',
  'MCO',
  'MDA',
  'MDG',
  'MDV',
  'MEX',
  'MHL',
  'MKD',
  'MLI',
  'MLT',
  'MMR',
  'MNE',
  'MNG',
  'MNP',
  'MOZ',
  'MRT',
  'MSR',
  'MTQ',
  'MUS',
  'MWI',
  'MYS',
  'MYT',
  'NAM',
  'NCL',
  'NER',
  'NFK',
  'NGA',
  'NIC',
  'NIU',
  'NLD',
  'NOR',
  'NPL',
  'NRU',
  'NZL',
  'OMN',
  'PAK',
  'PAN',
  'PCN',
  'PER',
  'PHL',
  'PLW',
  'PNG',
  'POL',
  'PRI',
  'PRT',
  'PRY',
  'PSE',
  'PYF',
  'QAT',
  'REU',
  'ROU',
  'RUS',
  'RWA',
  'SAU',
  'SDN',
  'SEN',
  'SGP',
  'SGS',
  'SHN',
  'SJM',
  'SLB',
  'SLE',
  'SLV',
  'SMR',
  'SOM',
  'SPM',
  'SRB',
  'SSD',
  'STP',
  'SUR',
  'SVK',
  'SVN',
  'SWE',
  'SWZ',
  'SYC',
  'SYR',
  'TCA',
  'TCD',
  'TGO',
  'THA',
  'TJK',
  'TKL',
  'TKM',
  'TLS',
  'TON',
  'TTO',
  'TUN',
  'TUR',
  'TUV',
  'TWN',
  'TZA',
  'UGA',
  'UKR',
  'URY',
  'USA',
  'UZB',
  'VCT',
  'VEN',
  'VNM',
  'VUT',
  'WLF',
  'WSM',
  'YEM',
  'ZAF',
  'ZMB',
  'ZWE',
  'KOR',
  'LAO'],
 'KOR': ['ABW',
  'AFG',
  'AGO',
  'AIA',
  'ALB',
  'AND',
  'ARE',
  'ARG',
  'ARM',
  'ASM',
  'ATA',
  'ATF',
  'ATG',
  'AUS',
  'AUT',
  'AZE',
  'BDI',
  'BEL',
  'BEN',
  'BES',
  'BFA',
  'BGD',
  'BGR',
  'BHR',
  'BHS',
  'BIH',
  'BLM',
  'BLR',
  'BLZ',
  'BMU',
  'BOL',
  'BRA',
  'BRB',
  'BTN',
  'BWA',
  'CAF',
  'CAN',
  'CCK',
  'CHE',
  'CHL',
  'CHN',
  'CIV',
  'CMR',
  'COD',
  'COG',
  'COK',
  'COL',
  'COM',
  'CPV',
  'CRI',
  'CUB',
  'CUW',
  'CXR',
  'CYM',
  'CYP',
  'CZE',
  'DEU',
  'DJI',
  'DMA',
  'DNK',
  'DOM',
  'DZA',
  'ECU',
  'EGY',
  'ERI',
  'ESH',
  'ESP',
  'EST',
  'ETH',
  'FIN',
  'FJI',
  'FRA',
  'FRO',
  'FSM',
  'GAB',
  'GBR',
  'GEO',
  'GGY',
  'GHA',
  'GIB',
  'GIN',
  'GLP',
  'GMB',
  'GNB',
  'GNQ',
  'GRC',
  'GRD',
  'GRL',
  'GTM',
  'GUF',
  'GUM',
  'GUY',
  'HKG',
  'HND',
  'HRV',
  'HTI',
  'HUN',
  'IDN',
  'IMN',
  'IND',
  'IOT',
  'IRL',
  'IRN',
  'IRQ',
  'ISL',
  'ISR',
  'ITA',
  'JAM',
  'JEY',
  'JOR',
  'JPN',
  'KAZ',
  'KEN',
  'KGZ',
  'KHM',
  'KIR',
  'KNA',
  'KWT',
  'LBN',
  'LBR',
  'LBY',
  'LCA',
  'LIE',
  'LKA',
  'LSO',
  'LTU',
  'LUX',
  'LVA',
  'MAC',
  'MAR',
  'MCO',
  'MDA',
  'MDG',
  'MDV',
  'MEX',
  'MHL',
  'MKD',
  'MLI',
  'MLT',
  'MMR',
  'MNE',
  'MNG',
  'MNP',
  'MOZ',
  'MRT',
  'MSR',
  'MTQ',
  'MUS',
  'MWI',
  'MYS',
  'MYT',
  'NAM',
  'NCL',
  'NER',
  'NFK',
  'NGA',
  'NIC',
  'NIU',
  'NLD',
  'NOR',
  'NPL',
  'NRU',
  'NZL',
  'OMN',
  'PAK',
  'PAN',
  'PCN',
  'PER',
  'PHL',
  'PLW',
  'PNG',
  'POL',
  'PRI',
  'PRT',
  'PRY',
  'PSE',
  'PYF',
  'QAT',
  'REU',
  'ROU',
  'RUS',
  'RWA',
  'SAU',
  'SDN',
  'SEN',
  'SGP',
  'SGS',
  'SHN',
  'SJM',
  'SLB',
  'SLE',
  'SLV',
  'SMR',
  'SOM',
  'SPM',
  'SRB',
  'SSD',
  'STP',
  'SUR',
  'SVK',
  'SVN',
  'SWE',
  'SWZ',
  'SYC',
  'SYR',
  'TCA',
  'TCD',
  'TGO',
  'THA',
  'TJK',
  'TKL',
  'TKM',
  'TLS',
  'TON',
  'TTO',
  'TUN',
  'TUR',
  'TUV',
  'TWN',
  'TZA',
  'UGA',
  'UKR',
  'URY',
  'USA',
  'UZB',
  'VCT',
  'VEN',
  'VNM',
  'VUT',
  'WLF',
  'WSM',
  'YEM',
  'ZAF',
  'ZMB',
  'ZWE',
  'HKG',
  'LAO'],
 'LAO': ['ABW',
  'AFG',
  'AGO',
  'AIA',
  'ALB',
  'AND',
  'ARE',
  'ARG',
  'ARM',
  'ASM',
  'ATA',
  'ATF',
  'ATG',
  'AUS',
  'AUT',
  'AZE',
  'BDI',
  'BEL',
  'BEN',
  'BES',
  'BFA',
  'BGD',
  'BGR',
  'BHR',
  'BHS',
  'BIH',
  'BLM',
  'BLR',
  'BLZ',
  'BMU',
  'BOL',
  'BRA',
  'BRB',
  'BTN',
  'BWA',
  'CAF',
  'CAN',
  'CCK',
  'CHE',
  'CHL',
  'CHN',
  'CIV',
  'CMR',
  'COD',
  'COG',
  'COK',
  'COL',
  'COM',
  'CPV',
  'CRI',
  'CUB',
  'CUW',
  'CXR',
  'CYM',
  'CYP',
  'CZE',
  'DEU',
  'DJI',
  'DMA',
  'DNK',
  'DOM',
  'DZA',
  'ECU',
  'EGY',
  'ERI',
  'ESH',
  'ESP',
  'EST',
  'ETH',
  'FIN',
  'FJI',
  'FRA',
  'FRO',
  'FSM',
  'GAB',
  'GBR',
  'GEO',
  'GGY',
  'GHA',
  'GIB',
  'GIN',
  'GLP',
  'GMB',
  'GNB',
  'GNQ',
  'GRC',
  'GRD',
  'GRL',
  'GTM',
  'GUF',
  'GUM',
  'GUY',
  'HKG',
  'HND',
  'HRV',
  'HTI',
  'HUN',
  'IDN',
  'IMN',
  'IND',
  'IOT',
  'IRL',
  'IRN',
  'IRQ',
  'ISL',
  'ISR',
  'ITA',
  'JAM',
  'JEY',
  'JOR',
  'JPN',
  'KAZ',
  'KEN',
  'KGZ',
  'KHM',
  'KIR',
  'KNA',
  'KWT',
  'LBN',
  'LBR',
  'LBY',
  'LCA',
  'LIE',
  'LKA',
  'LSO',
  'LTU',
  'LUX',
  'LVA',
  'MAC',
  'MAR',
  'MCO',
  'MDA',
  'MDG',
  'MDV',
  'MEX',
  'MHL',
  'MKD',
  'MLI',
  'MLT',
  'MMR',
  'MNE',
  'MNG',
  'MNP',
  'MOZ',
  'MRT',
  'MSR',
  'MTQ',
  'MUS',
  'MWI',
  'MYS',
  'MYT',
  'NAM',
  'NCL',
  'NER',
  'NFK',
  'NGA',
  'NIC',
  'NIU',
  'NLD',
  'NOR',
  'NPL',
  'NRU',
  'NZL',
  'OMN',
  'PAK',
  'PAN',
  'PCN',
  'PER',
  'PHL',
  'PLW',
  'PNG',
  'POL',
  'PRI',
  'PRT',
  'PRY',
  'PSE',
  'PYF',
  'QAT',
  'REU',
  'ROU',
  'RUS',
  'RWA',
  'SAU',
  'SDN',
  'SEN',
  'SGP',
  'SGS',
  'SHN',
  'SJM',
  'SLB',
  'SLE',
  'SLV',
  'SMR',
  'SOM',
  'SPM',
  'SRB',
  'SSD',
  'STP',
  'SUR',
  'SVK',
  'SVN',
  'SWE',
  'SWZ',
  'SYC',
  'SYR',
  'TCA',
  'TCD',
  'TGO',
  'THA',
  'TJK',
  'TKL',
  'TKM',
  'TLS',
  'TON',
  'TTO',
  'TUN',
  'TUR',
  'TUV',
  'TWN',
  'TZA',
  'UGA',
  'UKR',
  'URY',
  'USA',
  'UZB',
  'VCT',
  'VEN',
  'VNM',
  'VUT',
  'WLF',
  'WSM',
  'YEM',
  'ZAF',
  'ZMB',
  'ZWE',
  'HKG',
  'KOR']}

In [46]:
fill_dist.home.unique()

array(['HKG', 'KOR', 'LAO'], dtype=object)

In [47]:
fill_dist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 710 entries, 0 to 709
Data columns (total 4 columns):
home        710 non-null object
host        710 non-null object
distance    587 non-null float64
scraped     710 non-null bool
dtypes: bool(1), float64(1), object(2)
memory usage: 17.4+ KB

In [48]:
from geopy.geocoders import Nominatim
from random import randint
from geopy import distance
df_capital = pd.read_csv(directory +'capital_city.csv')
low_importance = list()
agent_name = 'Gigolo1560' + str(randint(199,1000))

geolocator = Nominatim(user_agent = agent_name)
past_countryA = None
count =0

for index, row in useful_combination.iterrows():

    countryA = row[0]
    countryB = row[1]
    
    if countryB in scraped_pairs[countryA]:
        continue
        
    print(count)

    try:
        capA = df_capital[df_capital.iso3 == countryA]['capital'].tolist()[0]
    except:
            low_importance.append(countryA)
    try:
        capB = df_capital[df_capital.iso3 == countryB]['capital'].tolist()[0]
    except:
        low_importance.append(countryB)
        fill_dist.loc[(fill_dist.home == countryA) & (fill_dist.host == countryB),'scraped' ] = True
        
        continue
    if count % 20 == 0:
        agent_name = 'Tommy' + str( randint(20,500) )
        geolocator = Nominatim(user_agent = agent_name)
    if countryA != past_countryA:
        locationA = geolocator.geocode(capA)
        time.sleep(5)
    posA = (locationA.latitude, locationA.longitude)


    
    locationB = geolocator.geocode(capB)
    posB = (locationB.latitude, locationB.longitude)
    time.sleep(7)

    
    dist_km = distance.distance(posA,posB).km
    print(countryA, countryB)
    print(capA,'-', capB, ': ', dist_km)
    
    fill_dist.loc[(fill_dist.home == countryA) & (fill_dist.host == countryB),'distance' ] = dist_km
    fill_dist.loc[(fill_dist.home == countryA) & (fill_dist.host == countryB),'scraped' ] = True
    fill_dist.to_csv(directory + 'fill_dist.csv', index = False)
    
    count += 1
    past_countryA = countryA

In [49]:
low_importance

[]

In [50]:
len(fill_dist[fill_dist.home != 'HKG'])

474

In [51]:
len(fill_dist)

710

In [52]:
df_right = fill_dist.copy()

In [53]:
df_right= df_right[((df_right.home == 'HKG')&(df_right.host.isin(['LAO','KOR']))) |( (df_right.home.isin(['LAO','KOR'])) & (df_right.host != 'HGK'))]

In [54]:
del df_right['scraped']

In [55]:
df_right.head()

    home host      distance
234  HKG  KOR   2093.671555
235  HKG  LAO   1298.139833
236  KOR  ABW  14183.568134
237  KOR  AFG   5136.458676
238  KOR  AGO  12695.943136

In [56]:
df_right.tail()

    home host     distance
705  LAO  ZAF  9390.631004
706  LAO  ZMB  8947.979780
707  LAO  ZWE  8776.553289
708  LAO  HKG  1298.139833
709  LAO  KOR  3219.419572

In [57]:
df_to_concat = pd.DataFrame()

In [58]:
df_to_concat

Empty DataFrame
Columns: []
Index: []

In [59]:
df_to_concat['home'] = df_right['host']

In [60]:
df_to_concat['host'] = df_right['home']

In [61]:
df_to_concat['distance'] = df_right['distance']

In [62]:
df_to_concat.head()

    home host      distance
234  KOR  HKG   2093.671555
235  LAO  HKG   1298.139833
236  ABW  KOR  14183.568134
237  AFG  KOR   5136.458676
238  AGO  KOR  12695.943136

In [63]:
df_to_concat.tail()

    home host     distance
705  ZAF  LAO  9390.631004
706  ZMB  LAO  8947.979780
707  ZWE  LAO  8776.553289
708  HKG  LAO  1298.139833
709  KOR  LAO  3219.419572

In [64]:
df_all_right = pd.concat([df_right,df_to_concat])

In [65]:
df_all_right.head()

    home host      distance
234  HKG  KOR   2093.671555
235  HKG  LAO   1298.139833
236  KOR  ABW  14183.568134
237  KOR  AFG   5136.458676
238  KOR  AGO  12695.943136

In [66]:
df_all_right.tail()

    home host     distance
705  ZAF  LAO  9390.631004
706  ZMB  LAO  8947.979780
707  ZWE  LAO  8776.553289
708  HKG  LAO  1298.139833
709  KOR  LAO  3219.419572

In [67]:
df_merged_dist = pd.merge(df_dist_merged,df_all_right, how='left', on =['home','host'])

In [68]:
df_merged_dist

      home host    distance_x    distance_y
0      ABW  ABW      0.000000           NaN
1      ABW  AFG  13252.562557           NaN
2      ABW  AGO   9500.724683           NaN
3      ABW  AIA    973.535120           NaN
4      ABW  ALB   9085.425408           NaN
5      ABW  AND   7565.414510           NaN
6      ABW  ARE  12767.098434           NaN
7      ABW  ARG   5360.114081           NaN
8      ABW  ARM  11105.217199           NaN
9      ABW  ASM  11491.150358           NaN
10     ABW  ATA  12107.711689           NaN
11     ABW  ATF  14544.737136           NaN
12     ABW  ATG   1011.870432           NaN
13     ABW  AUS  15237.370034           NaN
14     ABW  AUT   8712.378022           NaN
15     ABW  AZE  11499.880410           NaN
16     ABW  BDI  11113.900307           NaN
17     ABW  BEL   7837.934198           NaN
18     ABW  BEN   7959.192111           NaN
19     ABW  BES    191.464477           NaN
20     ABW  BFA   7417.965560           NaN
21     ABW  BGD  15468.737554           NaN
22     ABW  BGR   9343.130030           NaN
23     ABW  BHR  12298.151260           NaN
24     ABW  BHS   1587.705810           NaN
25     ABW  BIH   8923.997713           NaN
26     ABW  BLM    969.018436           NaN
27     ABW  BLR   9379.853629           NaN
28     ABW  BLZ   2033.162114           NaN
29     ABW  BMU   2263.897873           NaN
...    ...  ...           ...           ...
56149  LAO  THA           NaN    504.076124
56150  LAO  TJK           NaN   3988.124947
56151  LAO  TKL           NaN           NaN
56152  LAO  TKM           NaN   4823.952007
56153  LAO  TLS           NaN   2845.810432
56154  LAO  TON           NaN   9947.556848
56155  LAO  TTO           NaN  16397.140700
56156  LAO  TUN           NaN   9207.188909
56157  LAO  TUR           NaN   7040.542485
56158  LAO  TUV           NaN   8899.249703
56159  LAO  TWN           NaN   2111.226444
56160  LAO  TZA           NaN   7811.859429
56161  LAO  UGA           NaN   7894.724472
56162  LAO  UKR           NaN   7224.684478
56163  LAO  URY           NaN  17203.163545
56164  LAO  USA           NaN  13709.969647
56165  LAO  UZB           NaN   4093.520736
56166  LAO  VCT           NaN  16138.054241
56167  LAO  VEN           NaN  16655.072288
56168  LAO  VNM           NaN    480.480834
56169  LAO  VUT           NaN   8204.881034
56170  LAO  WLF           NaN           NaN
56171  LAO  WSM           NaN  10031.705608
56172  LAO  YEM           NaN   6213.063551
56173  LAO  ZAF           NaN   9390.631004
56174  LAO  ZMB           NaN   8947.979780
56175  LAO  ZWE           NaN   8776.553289
56176  LAO  KOR           NaN   3219.419572
56177  LAO  KOR           NaN   3219.419572
56178  LAO  LAO           NaN           NaN

[56179 rows x 4 columns]

In [69]:
df_merged_dist['distance'] = np.where(df_merged_dist['distance_x'].isna(), df_merged_dist['distance_y'],
                                     df_merged_dist['distance_x'])

In [70]:
df_merged_dist.head()

  home host    distance_x  distance_y      distance
0  ABW  ABW      0.000000         NaN      0.000000
1  ABW  AFG  13252.562557         NaN  13252.562557
2  ABW  AGO   9500.724683         NaN   9500.724683
3  ABW  AIA    973.535120         NaN    973.535120
4  ABW  ALB   9085.425408         NaN   9085.425408

In [71]:
del df_merged_dist['distance_x']
del df_merged_dist['distance_y']

In [72]:
len(df_merged_dist)

56179

In [73]:
df_merged_dist.drop_duplicates(inplace=True)

In [74]:
len(df_merged_dist)

56169

In [75]:
df_merged_dist[df_merged_dist.home == df_merged_dist.host]

      home host  distance
0      ABW  ABW       0.0
238    AFG  AFG       0.0
476    AGO  AGO       0.0
714    AIA  AIA       0.0
952    ALB  ALB       0.0
1190   AND  AND       0.0
1428   ARE  ARE       0.0
1666   ARG  ARG       0.0
1904   ARM  ARM       0.0
2142   ASM  ASM       0.0
2380   ATA  ATA       0.0
2618   ATF  ATF       0.0
2856   ATG  ATG       0.0
3094   AUS  AUS       0.0
3332   AUT  AUT       0.0
3570   AZE  AZE       0.0
3808   BDI  BDI       0.0
4046   BEL  BEL       0.0
4284   BEN  BEN       0.0
4522   BES  BES       0.0
4760   BFA  BFA       0.0
4998   BGD  BGD       0.0
5236   BGR  BGR       0.0
5474   BHR  BHR       0.0
5712   BHS  BHS       0.0
5950   BIH  BIH       0.0
6188   BLM  BLM       0.0
6426   BLR  BLR       0.0
6664   BLZ  BLZ       0.0
6902   BMU  BMU       0.0
...    ...  ...       ...
49270  TGO  TGO       0.0
49508  THA  THA       0.0
49746  TJK  TJK       0.0
49984  TKL  TKL       0.0
50222  TKM  TKM       0.0
50460  TLS  TLS       0.0
50698  TON  TON       0.0
50936  TTO  TTO       0.0
51174  TUN  TUN       0.0
51412  TUR  TUR       0.0
51650  TUV  TUV       0.0
51888  TWN  TWN       0.0
52126  TZA  TZA       0.0
52364  UGA  UGA       0.0
52602  UKR  UKR       0.0
52840  URY  URY       0.0
53078  USA  USA       0.0
53316  UZB  UZB       0.0
53554  VCT  VCT       0.0
53792  VEN  VEN       0.0
54030  VNM  VNM       0.0
54268  VUT  VUT       0.0
54506  WLF  WLF       0.0
54744  WSM  WSM       0.0
54982  YEM  YEM       0.0
55220  ZAF  ZAF       0.0
55458  ZMB  ZMB       0.0
55696  ZWE  ZWE       0.0
55936  KOR  KOR       NaN
56178  LAO  LAO       NaN

[237 rows x 3 columns]

In [76]:
df_merged_dist.loc[df_merged_dist.home == df_merged_dist.host,['distance'] ]= 0.0

In [77]:
df_merged_dist[df_merged_dist.home == df_merged_dist.host].head()

    home host  distance
0    ABW  ABW       0.0
238  AFG  AFG       0.0
476  AGO  AGO       0.0
714  AIA  AIA       0.0
952  ALB  ALB       0.0

In [78]:
len(df_merged_dist)

56169

In [79]:
df_merged_dist.columns = ['home_code','host_code','distance']

In [80]:
df_merged_dist.describe()

           distance
count  56001.000000
mean    8448.810305
std     4701.684978
min        0.000000
25%     4755.095850
50%     8064.243910
75%    11972.216614
max    19865.232853

In [81]:
df_base = pd.read_csv(directory+'merged_COPY.csv')
df_left = df_base.copy()

In [82]:
#df_left.home_code.replace(to_replace = 'HGK',value = 'HKG', inplace = True)

In [83]:
#df_left.host_code.replace(to_replace = 'HGK',value = 'HKG', inplace = True)

In [84]:
df_main = pd.merge(df_left,df_merged_dist, how='left', on=['home_code','host_code'])

In [85]:
df_main.head()

,home,host,year,fdi,home_code,host_code,region,income_group,scoreproced,minorinvest,enfcontract,paytax,minorinvest_lag,diff_minorinvest,distance
0,Albania,Afghanistan,1993,NaN,ALB,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4344.887482
1,Algeria,Afghanistan,1993,NaN,DZA,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5870.886684
2,American Samoa,Afghanistan,1993,NaN,ASM,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13650.655759
3,Angola,Afghanistan,1993,NaN,AGO,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7592.695548
4,Anguilla,Afghanistan,1993,NaN,AIA,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12295.402341

In [86]:
df_main.to_csv(directory+'merged_COPY.csv',index=False)

In [87]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1055750 entries, 0 to 1055749
Data columns (total 15 columns):
home                1055750 non-null object
host                1055750 non-null object
year                1055750 non-null int64
fdi                 65205 non-null float64
home_code           1055750 non-null object
host_code           1055750 non-null object
region              492000 non-null object
income_group        492000 non-null object
scoreproced         432755 non-null float64
minorinvest         432755 non-null float64
enfcontract         492000 non-null float64
paytax              432755 non-null float64
minorinvest_lag     395855 non-null float64
diff_minorinvest    395855 non-null float64
distance            993550 non-null float64
dtypes: float64(8), int64(1), object(6)
memory usage: 128.9+ MB

In [88]:
df_main[df_main.home_code =='HKG']

,home,host,year,fdi,home_code,host_code,region,income_group,scoreproced,minorinvest,enfcontract,paytax,minorinvest_lag,diff_minorinvest,distance
79,"Hong Kong, China",Afghanistan,1993,NaN,HKG,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4571.190350
284,"Hong Kong, China",Afghanistan,1994,NaN,HKG,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4571.190350
489,"Hong Kong, China",Afghanistan,1995,NaN,HKG,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4571.190350
694,"Hong Kong, China",Afghanistan,1996,NaN,HKG,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4571.190350
899,"Hong Kong, China",Afghanistan,1997,NaN,HKG,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4571.190350
1104,"Hong Kong, China",Afghanistan,1998,NaN,HKG,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4571.190350
1309,"Hong Kong, China",Afghanistan,1999,NaN,HKG,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4571.190350
1514,"Hong Kong, China",Afghanistan,2000,NaN,HKG,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4571.190350
1719,"Hong Kong, China",Afghanistan,2001,NaN,HKG,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4571.190350
1924,"Hong Kong, China",Afghanistan,2002,NaN,HKG,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4571.190350
2129,"Hong Kong, China",Afghanistan,2003,NaN,HKG,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4571.190350
2334,"Hong Kong, China",Afghanistan,2004,NaN,HKG,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4571.190350
2539,"Hong Kong, China",Afghanistan,2005,NaN,HKG,AFG,South Asia,Low income,NaN,NaN,28.750,NaN,NaN,NaN,4571.190350
2744,"Hong Kong, China",Afghanistan,2006,NaN,HKG,AFG,South Asia,Low income,68.0,10.000,28.750,76.570,NaN,NaN,4571.190350
2949,"Hong Kong, China",Afghanistan,2007,NaN,HKG,AFG,South Asia,Low income,68.0,10.000,28.750,76.570,10.000,0.000,4571.190350
3154,"Hong Kong, China",Afghanistan,2008,NaN,HKG,AFG,South Asia,Low income,68.0,10.000,28.750,74.900,10.000,0.000,4571.190350
3359,"Hong Kong, China",Afghanistan,2009,NaN,HKG,AFG,South Asia,Low income,68.0,10.000,28.750,74.900,10.000,0.000,4571.190350
3564,"Hong Kong, China",Afghanistan,2010,NaN,HKG,AFG,South Asia,Low income,68.0,10.000,28.750,74.900,10.000,0.000,4571.190350
3769,"Hong Kong, China",Afghanistan,2011,NaN,HKG,AFG,South Asia,Low income,68.0,10.000,28.750,74.900,10.000,0.000,4571.190350
3974,"Hong Kong, China",Afghanistan,2012,NaN,HKG,AFG,South Asia,Low income,68.0,10.000,28.750,74.900,10.000,0.000,4571.190350
4179,"Hong Kong, China",Afghanistan,2013,NaN,HKG,AFG,South Asia,Low income,68.0,10.000,28.750,74.900,10.000,0.000,4571.190350
4384,"Hong Kong, China",Afghanistan,2014,NaN,HKG,AFG,South Asia,Low income,68.0,10.000,29.790,75.030,10.000,0.000,4571.190350
4589,"Hong Kong, China",Afghanistan,2015,NaN,HKG,AFG,South Asia,Low income,68.0,10.000,31.700,74.790,10.000,0.000,4571.190350
4794,"Hong Kong, China",Afghanistan,2016,NaN,HKG,AFG,South Asia,Low income,68.0,10.000,32.685,65.440,10.000,0.000,4571.190350
4999,"Hong Kong, China",Afghanistan,2017,NaN,HKG,AFG,South Asia,Low income,68.0,10.000,31.760,51.750,10.000,0.000,4571.190350
5204,"Hong Kong, China",Albania,1993,NaN,HKG,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8753.720145
5409,"Hong Kong, China",Albania,1994,NaN,HKG,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8753.720145
5614,"Hong Kong, China",Albania,1995,NaN,HKG,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8753.720145
5819,"Hong Kong, China",Albania,1996,NaN,HKG,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8753.720145
6024,"Hong Kong, China",Albania,1997,NaN,HKG,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8753.720145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049680,"Hong Kong, China",Zambia,2013,NaN,HKG,ZMB,Sub-Saharan Africa,Lower middle income,80.0,56.670,57.530,73.650,56.670,0.000,10241.939616
1049885,"Hong Kong, China",Zambia,2014,NaN,HKG,ZMB,Sub-Saharan Africa,Lower middle income,80.0,53.335,57.530,73.650,56.670,-3.335,10241.939616
1050090,"Hong Kong, China",Zambia,2015,NaN,HKG,ZMB,Sub-Saharan Africa,Lower middle income,80.0,50.000,53.710,74.520,53.335,-3.335,10241.939616
1050295,"Hong Kong, China",Zambia,2016,NaN,HKG,ZMB,Sub-Saharan Africa,Lower middle income,80.0,50.000,49.890,80.375,50.000,0.000,10241.939616
1050500,"Hong Kong, China",Zambia,2017,NaN,HKG,ZMB,Sub-Saharan Africa,Lower middle income,80.0,50.000,49.890,81.050,50.000,0.000,10241.939616
1050705,"Hong Kong, China",Zimbabwe,1993,NaN,HKG,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10073.417941
1050910,"Hong Kong, China",Zimbabwe,1994,NaN,HKG,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10073.417941
1051115,"Hong Kong, China",Zimbabwe,1995,NaN,HKG,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10073.417941
1051320,"Hong Kong, China",Zimbabwe,1996,NaN,HKG,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10073.417941
1051525,"Hong Kong, China",Zimbabwe,1997,NaN,HKG,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10073.417941
1051730,"Hong Kong, China",Zimbabwe,1998,NaN,HKG,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10073.417941
1051935,"Hong Kong, China",Zimbabwe,1999,NaN,HKG,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10073.417941
1052140,"Hong Kong, China",Zimbabwe,2000,NaN,HKG,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10073.417941
1052345,"Hong Kong, China",Zimbabwe,2001,NaN,HKG,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10073.417941
1052550,"Hong Kong, China",Zimbabwe,2002,NaN,HKG,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10073.417941
1052755,"Hong Kong, China",Zimbabwe,2003,NaN,HKG,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10073.417941
1052960,"Hong Kong, China",Zimbabwe,2004,NaN,HKG,ZWE,Sub-Saharan Africa,Low income,NaN,NaN,62.410,NaN,NaN,NaN,10073.417941
1053165,"Hong Kong, China",Zimbabwe,2005,NaN,HKG,ZWE,Sub-Saharan Africa,Low income,NaN,NaN,62.410,NaN,NaN,NaN,10073.417941
1053370,"Hong Kong, China",Zimbabwe,2006,NaN,HKG,ZWE,Sub-Saharan Africa,Low income,80.0,46.670,62.410,63.420,NaN,NaN,10073.417941
1053575,"Hong Kong, China",Zimbabwe,2007,NaN,HKG,ZWE,Sub-Saharan Africa,Low income,80.0,46.670,62.410,61.180,46.670,0.000,10073.417941
1053780,"Hong Kong, China",Zimbabwe,2008,NaN,HKG,ZWE,Sub-Saharan Africa,Low income,80.0,46.670,62.420,50.360,46.670,0.000,10073.417941
1053985,"Hong Kong, China",Zimbabwe,2009,NaN,HKG,ZWE,Sub-Saharan Africa,Low income,80.0,46.670,62.410,41.160,46.670,0.000,10073.417941
1054190,"Hong Kong, China",Zimbabwe,2010,NaN,HKG,ZWE,Sub-Saharan Africa,Low income,80.0,46.670,62.410,56.170,46.670,0.000,10073.417941
1054395,"Hong Kong, China",Zimbabwe,2011,NaN,HKG,ZWE,Sub-Saharan Africa,Low income,80.0,46.670,41.030,57.670,46.670,0.000,10073.417941
1054600,"Hong Kong, China",Zimbabwe,2012,NaN,HKG,ZWE,Sub-Saharan Africa,Low income,80.0,46.670,41.030,59.920,46.670,0.000,10073.417941
1054805,"Hong Kong, China",Zimbabwe,2013,NaN,HKG,ZWE,Sub-Saharan Africa,Low income,80.0,46.670,41.030,60.010,46.670,0.000,10073.417941
1055010,"Hong Kong, China",Zimbabwe,2014,NaN,HKG,ZWE,Sub-Saharan Africa,Low income,80.0,49.170,43.250,59.670,46.670,2.500,10073.417941
1055215,"Hong Kong, China",Zimbabwe,2015,NaN,HKG,ZWE,Sub-Saharan Africa,Low income,80.0,51.670,40.990,60.950,49.170,2.500,10073.417941
1055420,"Hong Kong, China",Zimbabwe,2016,NaN,HKG,ZWE,Sub-Saharan Africa,Low income,80.0,53.330,38.730,59.825,51.670,1.660,10073.417941
1055625,"Hong Kong, China",Zimbabwe,2017,NaN,HKG,ZWE,Sub-Saharan Africa,Low income,80.0,53.330,38.730,58.830,53.330,0.000,10073.417941

In [100]:
na_df = df_main[df_main.distance.isna()]

In [101]:
na_df.to_csv(directory +'na_df.csv', index=False)

In [103]:
df_main.to_csv(directory +'df_main.csv', index = False)

In [105]:
df_main

,home,host,year,fdi,home_code,host_code,distance
0,Aruba,Afghanistan,1995,NaN,ABW,AFG,13252.562557
1,Aruba,Afghanistan,1996,NaN,ABW,AFG,13252.562557
2,Aruba,Afghanistan,1997,NaN,ABW,AFG,13252.562557
3,Aruba,Afghanistan,1998,NaN,ABW,AFG,13252.562557
4,Aruba,Afghanistan,1999,NaN,ABW,AFG,13252.562557
5,Aruba,Afghanistan,2000,NaN,ABW,AFG,13252.562557
6,Aruba,Afghanistan,2001,NaN,ABW,AFG,13252.562557
7,Aruba,Afghanistan,2002,NaN,ABW,AFG,13252.562557
8,Aruba,Afghanistan,2003,NaN,ABW,AFG,13252.562557
9,Aruba,Afghanistan,2004,NaN,ABW,AFG,13252.562557
10,Aruba,Afghanistan,2005,NaN,ABW,AFG,13252.562557
11,Aruba,Afghanistan,2006,NaN,ABW,AFG,13252.562557
12,Aruba,Afghanistan,2007,NaN,ABW,AFG,13252.562557
13,Aruba,Afghanistan,2008,NaN,ABW,AFG,13252.562557
14,Aruba,Afghanistan,2009,NaN,ABW,AFG,13252.562557
15,Aruba,Afghanistan,2010,NaN,ABW,AFG,13252.562557
16,Aruba,Afghanistan,2011,NaN,ABW,AFG,13252.562557
17,Aruba,Afghanistan,2012,NaN,ABW,AFG,13252.562557
18,Aruba,Afghanistan,2013,NaN,ABW,AFG,13252.562557
19,Aruba,Afghanistan,2014,NaN,ABW,AFG,13252.562557
20,Aruba,Angola,1995,NaN,ABW,AGO,9500.724683
21,Aruba,Angola,1996,NaN,ABW,AGO,9500.724683
22,Aruba,Angola,1997,NaN,ABW,AGO,9500.724683
23,Aruba,Angola,1998,NaN,ABW,AGO,9500.724683
24,Aruba,Angola,1999,NaN,ABW,AGO,9500.724683
25,Aruba,Angola,2000,NaN,ABW,AGO,9500.724683
26,Aruba,Angola,2001,NaN,ABW,AGO,9500.724683
27,Aruba,Angola,2002,NaN,ABW,AGO,9500.724683
28,Aruba,Angola,2003,NaN,ABW,AGO,9500.724683
29,Aruba,Angola,2004,NaN,ABW,AGO,9500.724683
...,...,...,...,...,...,...,...
844570,Lao People's Dem. Rep.,"Moldova, Republic of",2005,NaN,LAO,MDA,7347.089249
844571,Lao People's Dem. Rep.,"Moldova, Republic of",2006,NaN,LAO,MDA,7347.089249
844572,Lao People's Dem. Rep.,"Moldova, Republic of",2007,NaN,LAO,MDA,7347.089249
844573,Lao People's Dem. Rep.,"Moldova, Republic of",2008,NaN,LAO,MDA,7347.089249
844574,Lao People's Dem. Rep.,"Moldova, Republic of",2009,NaN,LAO,MDA,7347.089249
844575,Lao People's Dem. Rep.,"Moldova, Republic of",2010,NaN,LAO,MDA,7347.089249
844576,Lao People's Dem. Rep.,"Moldova, Republic of",2011,NaN,LAO,MDA,7347.089249
844577,Lao People's Dem. Rep.,"Moldova, Republic of",2012,NaN,LAO,MDA,7347.089249
844578,Lao People's Dem. Rep.,"Moldova, Republic of",2013,NaN,LAO,MDA,7347.089249
844579,Lao People's Dem. Rep.,"Moldova, Republic of",2014,NaN,LAO,MDA,7347.089249
844580,Lao People's Dem. Rep.,"Bolivia, Plurinational State of",1995,NaN,LAO,BOL,18747.878272
844581,Lao People's Dem. Rep.,"Bolivia, Plurinational State of",1996,NaN,LAO,BOL,18747.878272
844582,Lao People's Dem. Rep.,"Bolivia, Plurinational State of",1997,NaN,LAO,BOL,18747.878272
844583,Lao People's Dem. Rep.,"Bolivia, Plurinational State of",1998,NaN,LAO,BOL,18747.878272
844584,Lao People's Dem. Rep.,"Bolivia, Plurinational State of",1999,NaN,LAO,BOL,18747.878272
844585,Lao People's Dem. Rep.,"Bolivia, Plurinational State of",2000,NaN,LAO,BOL,18747.878272
844586,Lao People's Dem. Rep.,"Bolivia, Plurinational State of",2001,NaN,LAO,BOL,18747.878272
844587,Lao People's Dem. Rep.,"Bolivia, Plurinational State of",2002,NaN,LAO,BOL,18747.878272
844588,Lao People's Dem. Rep.,"Bolivia, Plurinational State of",2003,NaN,LAO,BOL,18747.878272
844589,Lao People's Dem. Rep.,"Bolivia, Plurinational State of",2004,NaN,LAO,BOL,18747.878272
844590,Lao People's Dem. Rep.,"Bolivia, Plurinational State of",2005,NaN,LAO,BOL,18747.878272
844591,Lao People's Dem. Rep.,"Bolivia, Plurinational State of",2006,NaN,LAO,BOL,18747.878272
844592,Lao People's Dem. Rep.,"Bolivia, Plurinational State of",2007,NaN,LAO,BOL,18747.878272
844593,Lao People's Dem. Rep.,"Bolivia, Plurinational State of",2008,NaN,LAO,BOL,18747.878272
844594,Lao People's Dem. Rep.,"Bolivia, Plurinational State of",2009,NaN,LAO,BOL,18747.878272
844595,Lao People's Dem. Rep.,"Bolivia, Plurinational State of",2010,NaN,LAO,BOL,18747.878272
844596,Lao People's Dem. Rep.,"Bolivia, Plurinational State of",2011,NaN,LAO,BOL,18747.878272
844597,Lao People's Dem. Rep.,"Bolivia, Plurinational State of",2012,NaN,LAO,BOL,18747.878272
844598,Lao People's Dem. Rep.,"Bolivia, Plurinational State of",2013,NaN,LAO,BOL,18747.878272
844599,Lao People's Dem. Rep.,"Bolivia, Plurinational State of",2014,NaN,LAO,BOL,18747.878272

In [91]:
na_df.host_code.unique()

array(['ANT', 'VGB', 'VIR', 'PRK', 'HGK', 'BIOT', 'BRN', 'KOR', 'LAO',
       'ABW', 'AFG', 'AGO', 'AIA', 'ALB', 'ARE', 'ARG', 'ARM', 'ASM',
       'ATG', 'AUS', 'AUT', 'AZE', 'BDI', 'BEL', 'TUR', 'TUV', 'TWN',
       'UGA', 'UKR', 'URY', 'USA', 'VCT', 'VNM', 'VUT', 'WSM', 'YEM',
       'ZAF', 'ZMB', 'ZWE', 'SUR', 'SVK', 'SVN', 'SWE', 'SWZ', 'SYC',
       'SYR', 'TCA', 'TCD', 'TGO', 'THA', 'TJK', 'TKL', 'TLS', 'TON',
       'TTO', 'PSE', 'PYF', 'QAT', 'REU', 'ROU', 'RUS', 'RWA', 'SAU',
       'SDN', 'SEN', 'SGP', 'SHN', 'SLB', 'SLE', 'SLV', 'SOM', 'SRB',
       'BEN', 'BWA', 'CYP', 'FSM', 'IND', 'MKD', 'NIC', 'PRY', 'STP',
       'TUN', 'NIU', 'NLD', 'NOR', 'NPL', 'NRU', 'NZL', 'OMN', 'PAK',
       'PAN', 'PER', 'PHL', 'PLW', 'PNG', 'POL', 'PRI', 'PRT', 'MLI',
       'MLT', 'MMR', 'MNE', 'MNG', 'MNP', 'MOZ', 'MRT', 'MUS', 'MWI',
       'MYS', 'NAM', 'NCL', 'NER', 'NGA', 'LBN', 'LBR', 'LBY', 'LCA',
       'LKA', 'LSO', 'LTU', 'LUX', 'LVA', 'MAC', 'MAR', 'MDG', 'MDV',
       'MEX', 'MHL', 'IRL', 'IRQ', 'ISL', 'ISR', 'ITA', 'JAM', 'JOR',
       'JPN', 'KAZ', 'KEN', 'KGZ', 'KHM', 'KNA', 'KWT', 'GAB', 'GBR',
       'GEO', 'GHA', 'GIN', 'GMB', 'GNB', 'GNQ', 'GRC', 'GRD', 'GTM',
       'HND', 'HRV', 'HTI', 'HUN', 'IDN', 'CZE', 'DEU', 'DJI', 'DMA',
       'DNK', 'DOM', 'DZA', 'ECU', 'EGY', 'ERI', 'ESP', 'EST', 'ETH',
       'FIN', 'FJI', 'FRA', 'CAF', 'CAN', 'CHE', 'CHL', 'CHN', 'CIV',
       'CMR', 'COG', 'COK', 'COL', 'COM', 'CPV', 'CRI', 'CYM', 'BFA',
       'BGD', 'BGR', 'BHR', 'BHS', 'BIH', 'BLR', 'BLZ', 'BMU', 'BRA',
       'BRB', 'BTN', 'COD', 'VEN', 'TZA', 'IRN', 'MDA', 'BOL'],
      dtype=object)

In [230]:
df_dist_pivot = pd.pivot_table(df_merged_dist, index = 'home', columns= 'host', values= 'distance')

In [231]:
df_dist_pivot.head()

host,ABW,AFG,AGO,AIA,ALB,AND,ARE,ARG,ARM,ASM,...,VCT,VEN,VNM,VUT,WLF,WSM,YEM,ZAF,ZMB,ZWE
home,,,,,,,,,,,,,,,,,,,,,
ABW,0.000000,13252.562557,9500.724683,973.535120,9085.425408,7565.414510,12767.098434,5360.114081,11105.217199,11491.150358,...,953.217628,407.254233,17394.630809,13764.066135,12057.320301,11596.227190,12153.647425,10635.960050,11252.792271,11587.659716
AFG,13252.562557,0.000000,7592.695548,12295.402341,4344.887482,5809.607175,1685.264881,15269.257992,2264.595710,13650.655759,...,12582.312572,13213.101745,4615.406201,11930.663622,13090.899638,13527.156291,3279.105626,9242.212938,7017.607917,7060.695339
AGO,9500.724683,7592.695548,0.000000,8894.790019,5594.945971,5808.941318,5917.159476,7777.930733,6309.127205,17411.816974,...,8581.313382,9127.152398,10567.405666,16001.483832,17350.882991,17438.154618,4339.161563,2828.661088,1791.381489,2169.266415
AIA,973.535120,12295.402341,8894.790019,0.000000,8111.936087,6591.882815,11797.582285,5867.656461,10134.035979,12335.378909,...,593.198987,949.165376,16601.574937,14610.029750,12882.443919,12434.627974,11234.495290,10369.917631,10679.299892,11038.903154
ALB,9085.425408,4344.887482,5594.945971,8111.936087,0.000000,1520.615798,3718.578045,11591.279736,2082.227281,16840.407230,...,8313.202282,8974.865549,8960.200423,16037.392002,16534.505765,16759.477394,3714.765270,8333.606713,6341.330364,6650.773482

In [232]:
df_dist_pivot.to_csv(directory +'distance_merged.csv', index = True)

In [190]:
df_dist_pivot

host,ABW,AFG,AGO,AIA,ALB,AND,ARE,ARG,ARM,ASM,...,VCT,VEN,VNM,VUT,WLF,WSM,YEM,ZAF,ZMB,ZWE
home,,,,,,,,,,,,,,,,,,,,,
ABW,0.000000,13252.562557,9500.724683,973.535120,9085.425408,7565.414510,12767.098434,5360.114081,11105.217199,11491.150358,...,953.217628,407.254233,17394.630809,13764.066135,12057.320301,11596.227190,12153.647425,10635.960050,11252.792271,11587.659716
AFG,13252.562557,0.000000,7592.695548,12295.402341,4344.887482,5809.607175,1685.264881,15269.257992,2264.595710,13650.655759,...,12582.312572,13213.101745,4615.406201,11930.663622,13090.899638,13527.156291,3279.105626,9242.212938,7017.607917,7060.695339
AGO,9500.724683,7592.695548,0.000000,8894.790019,5594.945971,5808.941318,5917.159476,7777.930733,6309.127205,17411.816974,...,8581.313382,9127.152398,10567.405666,16001.483832,17350.882991,17438.154618,4339.161563,2828.661088,1791.381489,2169.266415
AIA,973.535120,12295.402341,8894.790019,0.000000,8111.936087,6591.882815,11797.582285,5867.656461,10134.035979,12335.378909,...,593.198987,949.165376,16601.574937,14610.029750,12882.443919,12434.627974,11234.495290,10369.917631,10679.299892,11038.903154
ALB,9085.425408,4344.887482,5594.945971,8111.936087,0.000000,1520.615798,3718.578045,11591.279736,2082.227281,16840.407230,...,8313.202282,8974.865549,8960.200423,16037.392002,16534.505765,16759.477394,3714.765270,8333.606713,6341.330364,6650.773482
AND,7565.414510,5809.607175,5808.941318,6591.882815,1520.615798,0.000000,5232.160748,10491.126020,3568.907388,16788.350373,...,6803.953044,7460.739398,10413.743012,16990.042028,16757.258758,16761.782628,5054.902767,8637.352023,6973.879792,7335.131079
ARE,12767.098434,1685.264881,5917.159476,11797.582285,3718.578045,5232.160748,0.000000,13651.391519,1936.104653,15084.116479,...,11939.257340,12617.078071,5627.750623,13107.301242,14493.799334,14959.125424,1593.877336,7623.169563,5369.146014,5443.214239
ARG,5360.114081,15269.257992,7777.930733,5867.656461,11591.279736,10491.126020,13651.391519,0.000000,13383.969387,11065.241649,...,5295.519598,5071.593896,16967.749372,12403.241362,11587.166957,11185.131562,12106.109488,6883.744302,8755.752370,8856.878091
ARM,11105.217199,2264.595710,6309.127205,10134.035979,2082.227281,3568.907388,1936.104653,13383.969387,0.000000,15552.396121,...,10370.988207,11022.261981,6878.790834,14120.956028,15061.453994,15437.926147,2751.560858,8632.283231,6379.177432,6571.637399
ASM,11491.150358,13650.655759,17411.816974,12335.378909,16840.407230,16788.350373,15084.116479,11065.241649,15552.396121,0.000000,...,12437.493582,11775.941086,9534.023290,2276.012770,601.884379,125.026769,16279.525648,14583.244328,16121.367948,15734.334966
ATA,12107.711689,13902.833028,10241.595959,12861.834749,15667.688460,16010.495235,13227.921629,7171.333658,15075.087563,7177.325282,...,12344.567175,11946.966616,10505.240993,6683.731894,7240.234984,7216.238377,12396.461473,7422.811088,9326.685737,9018.757015
ATF,14544.737136,9291.372945,6908.485567,14610.897806,11190.180018,12180.168914,8394.883490,9414.142447,10234.190650,10786.298143,...,14049.652884,14168.748467,7556.230772,9102.079630,10528.255387,10760.231176,7611.263165,4538.494686,5338.859094,4948.620726
ATG,1011.870432,12302.762054,8742.341581,177.079068,8087.834281,6569.729659,11758.372766,5736.722650,10123.069028,12444.056611,...,443.057800,913.093406,16668.329219,14719.987606,12996.917327,12545.073714,11155.428253,10194.861153,10524.498751,10881.784572
AUS,15237.370034,11414.556270,13535.270604,16207.614338,15708.278847,17216.216925,12044.309016,11823.315562,13647.347710,4402.379663,...,16022.792235,15362.192636,6832.342104,2470.529330,4005.971212,4339.856620,12504.719258,11033.666712,11878.774579,11480.204352
AUT,8712.378022,4570.444618,6326.358714,7744.458843,811.666727,1321.760520,4239.336000,11789.935163,2403.169134,16185.961047,...,8012.025586,8648.270940,9139.640022,15782.613395,15962.798124,16119.657940,4446.091223,9099.340590,7144.369883,7458.247674
AZE,11499.880410,1820.580112,6623.316513,10531.796560,2525.310546,3994.027570,1750.769894,13821.347187,457.854594,15136.830084,...,10786.546916,11430.964936,6435.762641,13663.963402,14632.437978,15020.251228,2827.539286,8839.144303,6567.866250,6732.718476
BDI,11113.900307,5911.626356,1883.884378,10389.493725,5044.912305,5805.015763,4229.473874,9594.500740,5065.636836,17069.451761,...,10166.435407,10768.693467,8699.863019,14955.523104,16656.499118,17011.977847,2639.992237,3567.026718,1335.233641,1608.516867
BEL,7837.934198,5420.226533,6668.150848,6876.138127,1591.660755,952.114913,5156.730840,11281.255225,3306.039656,15923.366829,...,7173.467571,7793.999385,9929.789939,16066.842279,15837.083961,15883.566544,5304.484535,9492.134928,7702.010864,8043.345788
BEN,7959.192111,7486.907983,2065.566326,7208.055385,4240.486496,4005.144385,5993.607017,7818.736440,5620.225590,18862.834202,...,7006.929124,7631.602167,11426.418037,18040.818070,19224.716758,18972.545757,4667.210977,4767.840076,3733.284567,4130.838562
BES,191.464477,13169.249339,9309.454528,873.847083,8970.918420,7452.469472,12639.108973,5279.881976,11002.659036,11665.285752,...,773.046663,238.201224,17402.969307,13936.279950,12233.987586,11771.221030,11994.673925,10456.942158,11061.346483,11396.422513
BFA,7417.965560,7481.800222,2857.818624,6611.342757,3823.804456,3353.558013,6114.723232,7935.640017,5448.346298,18842.389386,...,6466.245429,7116.285903,11690.102745,18786.265405,19444.253260,18963.558095,4946.887662,5542.197060,4497.777043,4896.298724
BGD,15468.737554,2381.770581,9120.833837,14551.618032,6726.596058,8181.989339,3552.374718,16773.796408,4646.092326,11531.900110,...,14899.986872,15494.194842,2234.276015,9622.470518,10941.675990,11406.930812,4915.117132,9929.074020,8021.730210,7917.208048
BGR,9343.130030,4043.184372,5797.851835,8369.847068,327.776794,1784.395533,3498.989966,11917.925358,1787.939095,16582.388436,...,8588.276962,9244.688283,8657.817618,15710.099051,16248.559966,16495.743602,3627.729536,8499.255382,6453.167028,6747.793088
BHR,12298.151260,2005.881138,5598.942500,11330.750784,3280.002460,4784.199993,485.445152,13273.965341,1647.969284,15540.606859,...,11462.015978,12141.072149,6109.894429,13589.770395,14954.833543,15415.593214,1372.856215,7473.325983,5199.116103,5310.990355
BHS,1587.705810,12527.805801,10484.620841,1659.941873,8774.427200,7293.165617,12470.931550,6901.180157,10614.264989,11007.727758,...,2143.711011,1955.221038,16011.544924,13236.322548,11508.009999,11093.450607,12267.805177,12023.476771,12275.837353,12646.714049
BIH,8923.997713,4437.816405,5857.136909,7950.963049,304.689103,1374.463565,3921.079387,11646.768069,2194.974779,16616.004519,...,8176.339215,8829.955958,9047.734230,15978.290732,16345.949052,16541.470192,3995.443249,8612.442801,6638.497300,6950.687040
BLM,969.018436,12307.990047,8865.473053,41.789306,8116.963631,6597.244587,11799.255020,5830.439863,10142.280875,12351.789161,...,552.430650,927.740336,16627.331532,14626.944821,12900.484610,12451.529440,11226.163414,10331.619880,10649.235862,11008.054397
BLR,9379.853629,3878.436142,7082.074662,8431.407935,1512.174061,2293.004971,3921.752775,12783.009247,1985.666413,15328.696276,...,8758.101772,9362.802227,8326.106096,14776.177725,15042.560470,15249.251927,4515.802456,9770.099490,7679.083693,7953.713118
BLZ,2033.162114,13771.673443,11514.472340,2663.657070,10169.092621,8693.844647,13850.642244,6574.601684,11968.106656,9715.162232,...,2933.288287,2427.946329,16479.281602,11977.472719,10243.810995,9808.487279,13662.757059,12590.155600,13278.983935,13618.620725
BMU,2263.897873,11172.423483,9416.735393,1577.559760,7300.963288,5815.468398,11006.473648,7445.100202,9174.840565,12343.210028,...,2157.821539,2434.866247,15135.286558,14498.050453,12803.297381,12418.892758,10800.701936,11374.361889,11188.613502,11578.610095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TCA,995.711980,12528.619300,9796.003996,919.617255,8543.933390,7032.556794,12262.458799,6351.145127,10483.156244,11557.325414,...,1397.528601,1296.908165,16424.744670,13816.814427,12082.819970,11650.152824,11880.439422,11274.634305,11584.143350,11947.844300
TCD,9199.881826,5984.093870,2324.736980,8362.203710,3271.383999,3614.489107,4468.764595,9297.581330,4244.819201,19363.646545,...,8251.534724,8909.194214,9938.204068,17095.086010,18810.151867,19270.431799,3172.105322,5106.891663,3374.722117,3749.246590
TGO,7833.083754,7610.970530,2126.450655,7087.987451,4313.787722,4029.483074,6124.236563,7700.661904,5728.131788,18756.885033,...,6881.229215,7503.560816,11562.156674,18121.255686,19166.922924,18870.821603,4802.481538,4790.763082,3820.019926,4216.600461
THA,16916.697681,3900.232571,9956.128963,16040.517859,8241.109128,9708.300563,4887.458351,16877.343148,6158.887741,10261.124810,...,16419.592414,16989.260098,741.239476,8220.636609,9660.442890,10137.821623,6052.300691,10142.252231,8577.793467,8386.241292
TJK,12919.143148,446.112638,7776.931385,11972.434720,4140.800614,5564.585481,1942.825283,15338.843058,2092.802537,13634.914083,...,12286.813545,12901.794999,4850.667461,12035.341515,13094.974033,13513.452011,3519.632162,9559.097938,7311.439465,7376.855988
TKL,11573.149008,13136.039887,17982.300295,12359.396426,16175.869989,16196.039195,14644.565397,11620.630949,14945.638855,664.621509,...,12526.310217,11887.462280,9206.767352,2310.389194,659.327643,590.985158,15970.088862,15165.523923,16513.615333,16116.779484
TKM,12262.870180,1040.693579,6984.890009,11297.785657,3304.251469,4774.897138,1437.038229,14440.368455,1224.297535,14539.038154,...,11562.860284,12203.393487,5655.961699,12934.993880,14004.029377,14418.278981,2865.813987,8966.724985,6691.451100,6803.940450
TLS,18276.216989,7609.542352,12290.075586,18598.361557,11950.725486,13413.148933,8473.940245,15207.928915,9868.597780,6963.763437,...,19124.835211,18652.095455,2999.489918,4733.245712,6376.376030,6850.965901,9351.543117,11036.818815,10539.366211,10202.380127
TON,12071.645997,13618.715542,16564.533013,12964.380919,17362.959257,17615.063570,14870.034071,10930.379407,15719.238377,896.722605,...,12998.341918,12321.123740,9242.950619,1769.851808,875.761701,886.965764,15827.184361,13742.620286,15224.831146,14838.462882
TTO,948.450037,12805.023709,8552.742628,854.022330,8514.195116,7011.683947,12111.058809,5020.172647,10580.582828,12356.341198,...,279.212203,589.100577,17297.794588,14614.662891,12934.228851,12465.509094,11354.012644,9753.561335,10304.703001,10641.022697
TUN,8316.447544,5261.458778,5063.794624,7348.572082,972.935634,973.356407,4451.222690,10623.070657,3000.551991,17505.161324,...,7496.278830,8170.359545,9866.063496,17006.933984,17322.302078,17450.310595,4117.027382,7878.614068,6085.659908,6434.347258
TUR,9840.880391,3583.396747,5749.828078,8867.405326,766.670762,2277.027920,2996.903494,12229.124096,1318.896332,16488.995683,...,9077.325314,9736.963317,8197.573959,15369.597378,16088.578316,16390.128784,3202.890377,8367.469986,6246.475038,6517.654792
TUV,12470.394460,12379.714219,17545.108901,13235.513763,15845.803428,16231.721117,13819.994824,12315.209591,14331.373921,1272.663567,...,13423.462551,12791.020292,8316.491391,1556.974983,730.139901,1148.362947,15083.053601,14890.147258,15863.952701,15466.521092
TWN,15665.182940,5113.822929,12267.073017,15192.125362,9120.351631,10332.658823,6602.255019,18943.564649,7198.248041,8539.934376,...,15766.888808,15969.731820,2225.604778,6937.116725,7977.077797,8415.937391,8052.304589,12673.612396,11046.002790,10882.603798
TZA,12265.940109,5553.152138,2879.378681,11551.268193,5689.225329,6667.486186,3951.397963,10280.800555,5231.981850,15975.800914,...,11321.118298,11914.807758,7713.905881,13807.292398,15523.378990,15906.113704,2512.512627,3689.076666,1528.969993,1509.235827
UGA,11375.302417,5368.098738,2372.282011,10602.622710,4720.551803,5609.978293,3686.086121,10121.173617,4577.431677,17034.631149,...,10422.638597,11047.330981,8267.728817,14819.771994,16550.812168,16957.383552,2097.621472,4069.027303,1801.998297,2013.861482
UKR,9673.668383,3580.196018,6778.712531,8715.208472,1308.556375,2376.924345,3511.569599,12808.076238,1578.211089,15560.857468,...,9014.590848,9635.664264,8104.406038,14806.940962,15229.420146,15473.332748,4083.502147,9422.491614,7298.698129,7563.513331
URY,5448.376594,15084.834389,7579.984205,5923.628699,11460.923888,10388.901534,13459.804038,202.985729,13227.343164,11232.264129,...,5345.690757,5148.694892,16826.571290,12528.105193,11748.336853,11351.477104,11910.478388,6686.714951,8552.821442,8654.626020
USA,3147.434733,10862.721256,10415.024552,2705.098052,7454.756434,6078.221995,11025.539495,8493.054404,9106.883070,11592.471322,...,3298.235094,3421.688701,14297.827527,13597.173065,11984.242742,11650.980564,11129.917048,12552.432577,12141.233605,12538.648513
UZB,12731.125385,747.728934,7960.691347,11794.532155,4079.426472,5463.667071,2191.867680,15427.246875,2083.472664,13552.328260,...,12129.806133,12731.190176,4972.017559,12040.340247,13027.443386,13432.657756,3748.008305,9815.036596,7557.788829,7634.700684
VCT,953.217628,12582.312572,8581.313382,593.198987,8313.202282,6803.953044,11939.257340,5295.519598,10370.988207,12437.493582,...,0.000000,683.280496,17038.250704,14707.106780,13006.963969,12543.778606,11237.074941,9888.665734,10347.973284,10693.261538
VEN,407.254233,13213.101745,9127.152398,949.165376,8974.865549,7460.739398,12617.078071,5071.593896,11022.261981,11775.941086,...,683.280496,0.000000,17542.890119,14039.667201,12351.130516,11884.100206,11916.267314,10228.705833,10869.859467,11200.079920
VNM,17394.630809,4615.406201,10567.405666,16601.574937,8960.200423,10413.743012,5627.750623,16967.749372,6878.790834,9534.023290,...,17038.250704,17542.890119,0.000000,7479.875987,8932.639239,9411.225740,6766.677531,10513.351181,9107.981630,8887.315464
VUT,13764.066135,11930.663622,16001.483832,14610.029750,16037.392002,16990.042028,13107.301242,12403.241362,14120.956028,2276.012770,...,14707.106780,14039.667201,7479.875987,0.000000,1733.996726,2175.423350,14084.641231,13462.765523,14307.791992,13910.075118
WLF,12057.320301,13090.899638,17350.882991,12882.443919,16534.505765,16757.258758,14493.799334,11587.166957,15061.453994,601.884379,...,13006.963969,12351.130516,8932.639239,1733.996726,0.000000,480.976897,15678.673832,14557.660627,15855.312949,15458.900029
WSM,11596.227190,13527.156291,17438.154618,12434.627974,16759.477394,16761.782628,14959.125424,11185.131562,15437.926147,125.026769,...,12543.778606,11884.100206,9411.225740,2175.423350,480.976897,0.000000,16159.645779,14610.463481,16098.582561,15708.704149
YEM,12153.647425,3279.105626,4339.161563,11234.495290,3714.765270,5054.902767,1593.877336,12106.109488,2751.560858,16279.525648,...,11237.074941,11916.267314,6766.677531,14084.641231,15678.673832,16159.645779,0.000000,6100.922040,3826.262134,3943.725870
ZAF,10635.960050,9242.212938,2828.661088,10369.917631,8333.606713,8637.352023,7623.169563,6883.744302,8632.283231,14583.244328,...,9888.665734,10228.705833,10513.351181,13462.765523,14557.660627,14610.463481,6100.922040,0.000000,2278.299176,2182.649348
ZMB,11252.792271,7017.607917,1791.381489,10679.299892,6341.330364,6973.879792,5369.146014,8755.752370,6379.177432,16121.367948,...,10347.973284,10869.859467,9107.981630,14307.791992,15855.312949,16098.582561,3826.262134,2278.299176,0.000000,398.601357
ZWE,11587.659716,7060.695339,2169.266415,11038.903154,6650.773482,7335.131079,5443.214239,8856.878091,6571.637399,15734.334966,...,10693.261538,11200.079920,8887.315464,13910.075118,15458.900029,15708.704149,3943.725870,2182.649348,398.601357,0.000000

In [191]:
df_dist

,ABW,AFG,AGO,AIA,ALB,AND,ARE,ARG,ARM,ASM,...,VCT,VEN,VNM,VUT,WLF,WSM,YEM,ZAF,ZMB,ZWE
,,,,,,,,,,,,,,,,,,,,,
ABW,0.000000,13252.562557,9500.724683,973.535120,9085.425408,7565.414510,12767.098434,5360.114081,11105.217199,11491.150358,...,953.217628,407.254233,17394.630809,13764.066135,12057.320301,11596.227190,12153.647425,10635.960050,11252.792271,11587.659716
AFG,13252.562557,0.000000,7592.695548,12295.402341,4344.887482,5809.607175,1685.264881,15269.257992,2264.595710,13650.655759,...,12582.312572,13213.101745,4615.406201,11930.663622,13090.899638,13527.156291,3279.105626,9242.212938,7017.607917,7060.695339
AGO,9500.724683,7592.695548,0.000000,8894.790019,5594.945971,5808.941318,5917.159476,7777.930733,6309.127205,17411.816974,...,8581.313382,9127.152398,10567.405666,16001.483832,17350.882991,17438.154618,4339.161563,2828.661088,1791.381489,2169.266415
AIA,973.535120,12295.402341,8894.790019,0.000000,8111.936087,6591.882815,11797.582285,5867.656461,10134.035979,12335.378909,...,593.198987,949.165376,16601.574937,14610.029750,12882.443919,12434.627974,11234.495290,10369.917631,10679.299892,11038.903154
ALB,9085.425408,4344.887482,5594.945971,8111.936087,0.000000,1520.615798,3718.578045,11591.279736,2082.227281,16840.407230,...,8313.202282,8974.865549,8960.200423,16037.392002,16534.505765,16759.477394,3714.765270,8333.606713,6341.330364,6650.773482
AND,7565.414510,5809.607175,5808.941318,6591.882815,1520.615798,0.000000,5232.160748,10491.126020,3568.907388,16788.350373,...,6803.953044,7460.739398,10413.743012,16990.042028,16757.258758,16761.782628,5054.902767,8637.352023,6973.879792,7335.131079
ARE,12767.098434,1685.264881,5917.159476,11797.582285,3718.578045,5232.160748,0.000000,13651.391519,1936.104653,15084.116479,...,11939.257340,12617.078071,5627.750623,13107.301242,14493.799334,14959.125424,1593.877336,7623.169563,5369.146014,5443.214239
ARG,5360.114081,15269.257992,7777.930733,5867.656461,11591.279736,10491.126020,13651.391519,0.000000,13383.969387,11065.241649,...,5295.519598,5071.593896,16967.749372,12403.241362,11587.166957,11185.131562,12106.109488,6883.744302,8755.752370,8856.878091
ARM,11105.217199,2264.595710,6309.127205,10134.035979,2082.227281,3568.907388,1936.104653,13383.969387,0.000000,15552.396121,...,10370.988207,11022.261981,6878.790834,14120.956028,15061.453994,15437.926147,2751.560858,8632.283231,6379.177432,6571.637399
ASM,11491.150358,13650.655759,17411.816974,12335.378909,16840.407230,16788.350373,15084.116479,11065.241649,15552.396121,0.000000,...,12437.493582,11775.941086,9534.023290,2276.012770,601.884379,125.026769,16279.525648,14583.244328,16121.367948,15734.334966
ATA,12107.711689,13902.833028,10241.595959,12861.834749,15667.688460,16010.495235,13227.921629,7171.333658,15075.087563,7177.325282,...,12344.567175,11946.966616,10505.240993,6683.731894,7240.234984,7216.238377,12396.461473,7422.811088,9326.685737,9018.757015
ATF,14544.737136,9291.372945,6908.485567,14610.897806,11190.180018,12180.168914,8394.883490,9414.142447,10234.190650,10786.298143,...,14049.652884,14168.748467,7556.230772,9102.079630,10528.255387,10760.231176,7611.263165,4538.494686,5338.859094,4948.620726
ATG,1011.870432,12302.762054,8742.341581,177.079068,8087.834281,6569.729659,11758.372766,5736.722650,10123.069028,12444.056611,...,443.057800,913.093406,16668.329219,14719.987606,12996.917327,12545.073714,11155.428253,10194.861153,10524.498751,10881.784572
AUS,15237.370034,11414.556270,13535.270604,16207.614338,15708.278847,17216.216925,12044.309016,11823.315562,13647.347710,4402.379663,...,16022.792235,15362.192636,6832.342104,2470.529330,4005.971212,4339.856620,12504.719258,11033.666712,11878.774579,11480.204352
AUT,8712.378022,4570.444618,6326.358714,7744.458843,811.666727,1321.760520,4239.336000,11789.935163,2403.169134,16185.961047,...,8012.025586,8648.270940,9139.640022,15782.613395,15962.798124,16119.657940,4446.091223,9099.340590,7144.369883,7458.247674
AZE,11499.880410,1820.580112,6623.316513,10531.796560,2525.310546,3994.027570,1750.769894,13821.347187,457.854594,15136.830084,...,10786.546916,11430.964936,6435.762641,13663.963402,14632.437978,15020.251228,2827.539286,8839.144303,6567.866250,6732.718476
BDI,11113.900307,5911.626356,1883.884378,10389.493725,5044.912305,5805.015763,4229.473874,9594.500740,5065.636836,17069.451761,...,10166.435407,10768.693467,8699.863019,14955.523104,16656.499118,17011.977847,2639.992237,3567.026718,1335.233641,1608.516867
BEL,7837.934198,5420.226533,6668.150848,6876.138127,1591.660755,952.114913,5156.730840,11281.255225,3306.039656,15923.366829,...,7173.467571,7793.999385,9929.789939,16066.842279,15837.083961,15883.566544,5304.484535,9492.134928,7702.010864,8043.345788
BEN,7959.192111,7486.907983,2065.566326,7208.055385,4240.486496,4005.144385,5993.607017,7818.736440,5620.225590,18862.834202,...,7006.929124,7631.602167,11426.418037,18040.818070,19224.716758,18972.545757,4667.210977,4767.840076,3733.284567,4130.838562
BES,191.464477,13169.249339,9309.454528,873.847083,8970.918420,7452.469472,12639.108973,5279.881976,11002.659036,11665.285752,...,773.046663,238.201224,17402.969307,13936.279950,12233.987586,11771.221030,11994.673925,10456.942158,11061.346483,11396.422513
BFA,7417.965560,7481.800222,2857.818624,6611.342757,3823.804456,3353.558013,6114.723232,7935.640017,5448.346298,18842.389386,...,6466.245429,7116.285903,11690.102745,18786.265405,19444.253260,18963.558095,4946.887662,5542.197060,4497.777043,4896.298724
BGD,15468.737554,2381.770581,9120.833837,14551.618032,6726.596058,8181.989339,3552.374718,16773.796408,4646.092326,11531.900110,...,14899.986872,15494.194842,2234.276015,9622.470518,10941.675990,11406.930812,4915.117132,9929.074020,8021.730210,7917.208048
BGR,9343.130030,4043.184372,5797.851835,8369.847068,327.776794,1784.395533,3498.989966,11917.925358,1787.939095,16582.388436,...,8588.276962,9244.688283,8657.817618,15710.099051,16248.559966,16495.743602,3627.729536,8499.255382,6453.167028,6747.793088
BHR,12298.151260,2005.881138,5598.942500,11330.750784,3280.002460,4784.199993,485.445152,13273.965341,1647.969284,15540.606859,...,11462.015978,12141.072149,6109.894429,13589.770395,14954.833543,15415.593214,1372.856215,7473.325983,5199.116103,5310.990355
BHS,1587.705810,12527.805801,10484.620841,1659.941873,8774.427200,7293.165617,12470.931550,6901.180157,10614.264989,11007.727758,...,2143.711011,1955.221038,16011.544924,13236.322548,11508.009999,11093.450607,12267.805177,12023.476771,12275.837353,12646.714049
BIH,8923.997713,4437.816405,5857.136909,7950.963049,304.689103,1374.463565,3921.079387,11646.768069,2194.974779,16616.004519,...,8176.339215,8829.955958,9047.734230,15978.290732,16345.949052,16541.470192,3995.443249,8612.442801,6638.497300,6950.687040
BLM,969.018436,12307.990047,8865.473053,41.789306,8116.963631,6597.244587,11799.255020,5830.439863,10142.280875,12351.789161,...,552.430650,927.740336,16627.331532,14626.944821,12900.484610,12451.529440,11226.163414,10331.619880,10649.235862,11008.054397
BLR,9379.853629,3878.436142,7082.074662,8431.407935,1512.174061,2293.004971,3921.752775,12783.009247,1985.666413,15328.696276,...,8758.101772,9362.802227,8326.106096,14776.177725,15042.560470,15249.251927,4515.802456,9770.099490,7679.083693,7953.713118
BLZ,2033.162114,13771.673443,11514.472340,2663.657070,10169.092621,8693.844647,13850.642244,6574.601684,11968.106656,9715.162232,...,2933.288287,2427.946329,16479.281602,11977.472719,10243.810995,9808.487279,13662.757059,12590.155600,13278.983935,13618.620725
BMU,2263.897873,11172.423483,9416.735393,1577.559760,7300.963288,5815.468398,11006.473648,7445.100202,9174.840565,12343.210028,...,2157.821539,2434.866247,15135.286558,14498.050453,12803.297381,12418.892758,10800.701936,11374.361889,11188.613502,11578.610095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TCA,995.711980,12528.619300,9796.003996,919.617255,8543.933390,7032.556794,12262.458799,6351.145127,10483.156244,11557.325414,...,1397.528601,1296.908165,16424.744670,13816.814427,12082.819970,11650.152824,11880.439422,11274.634305,11584.143350,11947.844300
TCD,9199.881826,5984.093870,2324.736980,8362.203710,3271.383999,3614.489107,4468.764595,9297.581330,4244.819201,19363.646545,...,8251.534724,8909.194214,9938.204068,17095.086010,18810.151867,19270.431799,3172.105322,5106.891663,3374.722117,3749.246590
TGO,7833.083754,7610.970530,2126.450655,7087.987451,4313.787722,4029.483074,6124.236563,7700.661904,5728.131788,18756.885033,...,6881.229215,7503.560816,11562.156674,18121.255686,19166.922924,18870.821603,4802.481538,4790.763082,3820.019926,4216.600461
THA,16916.697681,3900.232571,9956.128963,16040.517859,8241.109128,9708.300563,4887.458351,16877.343148,6158.887741,10261.124810,...,16419.592414,16989.260098,741.239476,8220.636609,9660.442890,10137.821623,6052.300691,10142.252231,8577.793467,8386.241292
TJK,12919.143148,446.112638,7776.931385,11972.434720,4140.800614,5564.585481,1942.825283,15338.843058,2092.802537,13634.914083,...,12286.813545,12901.794999,4850.667461,12035.341515,13094.974033,13513.452011,3519.632162,9559.097938,7311.439465,7376.855988
TKL,11573.149008,13136.039887,17982.300295,12359.396426,16175.869989,16196.039195,14644.565397,11620.630949,14945.638855,664.621509,...,12526.310217,11887.462280,9206.767352,2310.389194,659.327643,590.985158,15970.088862,15165.523923,16513.615333,16116.779484
TKM,12262.870180,1040.693579,6984.890009,11297.785657,3304.251469,4774.897138,1437.038229,14440.368455,1224.297535,14539.038154,...,11562.860284,12203.393487,5655.961699,12934.993880,14004.029377,14418.278981,2865.813987,8966.724985,6691.451100,6803.940450
TLS,18276.216989,7609.542352,12290.075586,18598.361557,11950.725486,13413.148933,8473.940245,15207.928915,9868.597780,6963.763437,...,19124.835211,18652.095455,2999.489918,4733.245712,6376.376030,6850.965901,9351.543117,11036.818815,10539.366211,10202.380127
TON,12071.645997,13618.715542,16564.533013,12964.380919,17362.959257,17615.063570,14870.034071,10930.379407,15719.238377,896.722605,...,12998.341918,12321.123740,9242.950619,1769.851808,875.761701,886.965764,15827.184361,13742.620286,15224.831146,14838.462882
TTO,948.450037,12805.023709,8552.742628,854.022330,8514.195116,7011.683947,12111.058809,5020.172647,10580.582828,12356.341198,...,279.212203,589.100577,17297.794588,14614.662891,12934.228851,12465.509094,11354.012644,9753.561335,10304.703001,10641.022697
TUN,8316.447544,5261.458778,5063.794624,7348.572082,972.935634,973.356407,4451.222690,10623.070657,3000.551991,17505.161324,...,7496.278830,8170.359545,9866.063496,17006.933984,17322.302078,17450.310595,4117.027382,7878.614068,6085.659908,6434.347258
TUR,9840.880391,3583.396747,5749.828078,8867.405326,766.670762,2277.027920,2996.903494,12229.124096,1318.896332,16488.995683,...,9077.325314,9736.963317,8197.573959,15369.597378,16088.578316,16390.128784,3202.890377,8367.469986,6246.475038,6517.654792
TUV,12470.394460,12379.714219,17545.108901,13235.513763,15845.803428,16231.721117,13819.994824,12315.209591,14331.373921,1272.663567,...,13423.462551,12791.020292,8316.491391,1556.974983,730.139901,1148.362947,15083.053601,14890.147258,15863.952701,15466.521092
TWN,15665.182940,5113.822929,12267.073017,15192.125362,9120.351631,10332.658823,6602.255019,18943.564649,7198.248041,8539.934376,...,15766.888808,15969.731820,2225.604778,6937.116725,7977.077797,8415.937391,8052.304589,12673.612396,11046.002790,10882.603798
TZA,12265.940109,5553.152138,2879.378681,11551.268193,5689.225329,6667.486186,3951.397963,10280.800555,5231.981850,15975.800914,...,11321.118298,11914.807758,7713.905881,13807.292398,15523.378990,15906.113704,2512.512627,3689.076666,1528.969993,1509.235827
UGA,11375.302417,5368.098738,2372.282011,10602.622710,4720.551803,5609.978293,3686.086121,10121.173617,4577.431677,17034.631149,...,10422.638597,11047.330981,8267.728817,14819.771994,16550.812168,16957.383552,2097.621472,4069.027303,1801.998297,2013.861482
UKR,9673.668383,3580.196018,6778.712531,8715.208472,1308.556375,2376.924345,3511.569599,12808.076238,1578.211089,15560.857468,...,9014.590848,9635.664264,8104.406038,14806.940962,15229.420146,15473.332748,4083.502147,9422.491614,7298.698129,7563.513331
URY,5448.376594,15084.834389,7579.984205,5923.628699,11460.923888,10388.901534,13459.804038,202.985729,13227.343164,11232.264129,...,5345.690757,5148.694892,16826.571290,12528.105193,11748.336853,11351.477104,11910.478388,6686.714951,8552.821442,8654.626020
USA,3147.434733,10862.721256,10415.024552,2705.098052,7454.756434,6078.221995,11025.539495,8493.054404,9106.883070,11592.471322,...,3298.235094,3421.688701,14297.827527,13597.173065,11984.242742,11650.980564,11129.917048,12552.432577,12141.233605,12538.648513
UZB,12731.125385,747.728934,7960.691347,11794.532155,4079.426472,5463.667071,2191.867680,15427.246875,2083.472664,13552.328260,...,12129.806133,12731.190176,4972.017559,12040.340247,13027.443386,13432.657756,3748.008305,9815.036596,7557.788829,7634.700684
VCT,953.217628,12582.312572,8581.313382,593.198987,8313.202282,6803.953044,11939.257340,5295.519598,10370.988207,12437.493582,...,0.000000,683.280496,17038.250704,14707.106780,13006.963969,12543.778606,11237.074941,9888.665734,10347.973284,10693.261538
VEN,407.254233,13213.101745,9127.152398,949.165376,8974.865549,7460.739398,12617.078071,5071.593896,11022.261981,11775.941086,...,683.280496,0.000000,17542.890119,14039.667201,12351.130516,11884.100206,11916.267314,10228.705833,10869.859467,11200.079920
VNM,17394.630809,4615.406201,10567.405666,16601.574937,8960.200423,10413.743012,5627.750623,16967.749372,6878.790834,9534.023290,...,17038.250704,17542.890119,0.000000,7479.875987,8932.639239,9411.225740,6766.677531,10513.351181,9107.981630,8887.315464
VUT,13764.066135,11930.663622,16001.483832,14610.029750,16037.392002,16990.042028,13107.301242,12403.241362,14120.956028,2276.012770,...,14707.106780,14039.667201,7479.875987,0.000000,1733.996726,2175.423350,14084.641231,13462.765523,14307.791992,13910.075118
WLF,12057.320301,13090.899638,17350.882991,12882.443919,16534.505765,16757.258758,14493.799334,11587.166957,15061.453994,601.884379,...,13006.963969,12351.130516,8932.639239,1733.996726,0.000000,480.976897,15678.673832,14557.660627,15855.312949,15458.900029
WSM,11596.227190,13527.156291,17438.154618,12434.627974,16759.477394,16761.782628,14959.125424,11185.131562,15437.926147,125.026769,...,12543.778606,11884.100206,9411.225740,2175.423350,480.976897,0.000000,16159.645779,14610.463481,16098.582561,15708.704149
YEM,12153.647425,3279.105626,4339.161563,11234.495290,3714.765270,5054.902767,1593.877336,12106.109488,2751.560858,16279.525648,...,11237.074941,11916.267314,6766.677531,14084.641231,15678.673832,16159.645779,0.000000,6100.922040,3826.262134,3943.725870
ZAF,10635.960050,9242.212938,2828.661088,10369.917631,8333.606713,8637.352023,7623.169563,6883.744302,8632.283231,14583.244328,...,9888.665734,10228.705833,10513.351181,13462.765523,14557.660627,14610.463481,6100.922040,0.000000,2278.299176,2182.649348
ZMB,11252.792271,7017.607917,1791.381489,10679.299892,6341.330364,6973.879792,5369.146014,8755.752370,6379.177432,16121.367948,...,10347.973284,10869.859467,9107.981630,14307.791992,15855.312949,16098.582561,3826.262134,2278.299176,0.000000,398.601357
ZWE,11587.659716,7060.695339,2169.266415,11038.903154,6650.773482,7335.131079,5443.214239,8856.878091,6571.637399,15734.334966,...,10693.261538,11200.079920,8887.315464,13910.075118,15458.900029,15708.704149,3943.725870,2182.649348,398.601357,0.000000

In [ ]:
unknowns

In [ ]:
countryB

In [ ]:
 df_capital[df_capital.iso3 == countryA]['capital']

In [ ]:
df_capital[df_capital.iso3 == 'BRN']['capital'].tolist()[0]

In [ ]:
df_capital[df_capital.country == 'Laos']

In [ ]:
df_insert.info()

In [ ]:
df_insert.columns

In [ ]:
df_dist_stack = pd.DataFrame( df_dist.stack())
df_dist_stack.reset_index(inplace=True)
df_dist_stack.head()

In [ ]:
ser = df_left[['home_code','host_code']].apply(find_distance, axis =1)

In [ ]:
ser

In [ ]:
from geopy.geocoders import Nominatim

In [ ]:
geolocator = Nominatim()

In [ ]:
location = geolocator.geocode("St. Petersburg")

In [ ]:
location.latitude

In [ ]:
location.longitude

In [ ]:
loc_name = geolocator.reverse("59.938732,30.316229")

In [ ]:
loc_name

In [ ]:
df_capital = pd.read_clipboard()

In [ ]:
df_capital

In [ ]:
df_capital = pd.read_csv(directory +'capital_city.csv')

In [ ]:
df_capital

In [ ]:
df_capital.columns =  ['country','capital','iso3','iso2']

In [ ]:
df_capital.to_csv(directory +'capital_city.csv', index = False)

In [ ]:
df_capital[df_capital.iso3=='HKG']