In [1]:
import pandas as pd
import numpy as np
import os
import re

In [2]:
directory  = "/media/sony/0CA83E99A83E80EE/Chris/Bocconi/Thesis/Data_copy/Data/"
dir_precip = "/media/sony/0CA83E99A83E80EE/Chris/Bocconi/Thesis/Data_copy/Data/Precipitation/"

In [3]:
df_concat = pd.DataFrame()
for path in os.listdir(dir_precip):
    location_name = path.split('.')[-3]
    location_name = location_name.replace('_',' ')
    location_name = location_name.replace('Isl','Island')
    #location_name.replace('Isl')
    print(location_name)
    df = pd.read_csv(dir_precip + path,  delim_whitespace=True ,skiprows=3)
    df_sub = df[df.columns.difference(['MAM','JJA', 'SON', 'DJF','ANN'])]
    
    df_cleaned = pd.DataFrame()
    df_cleaned['year'] = df_sub['YEAR']
    df_cleaned['country'] = location_name
    df_cleaned['monthly_precip'] = df_sub.mean(axis=1)
    df_cleaned['yearly_precip'] = df_sub.mean(axis=1) *12
    df_cleaned['precip_volatility'] = df_sub.var(axis =1)
    df_concat = pd.concat([df_concat,df_cleaned])

Actaeon Group
Afghanistan
Albania
Aldabra Island
Aleutians
Algeria
Amsterdam Island
Andaman Island
Andorra
Angola
Anguilla
Antigua
Argentina
Armenia
Ascension
Auckland Island
Australia
Austria
Azerbaijan
Azores
Bahamas
Bahrain
Banaba
Bangladesh
Barbuda
Bassas da India
Belarus
Belgium
Belize
Benin
Bermuda
Bhutan
Bioko
Bolivia
Bonin Island
Bosnia-Herzegovinia
Antipodes Island
Barbados
Botswana
Caroline Island
Croatia
Egypt
French Guiana
Guadalupe
Iceland
Israel
Komandorskiye Island
Liechtenstein
Mali
Morocco
Nigeria
Paraguay
Rwanda
Society Island
St Vincent
Tokelau Island
Ukraine
Brazil
Brunei
Bulgaria
Burkina Faso
Burundi
Cabinda
Cambodia
Cameroon
Campbell Island
Canada
Canary Island
Cape Verde Island
Central African Rep
Chad
Chagos Archipelago
Chile
China
Christmas Island
Cocos Island
Colombia
Comoros
Congo
Cook Island
Costa Rica
Crozet Island
Cuba
Curacao Island
Cyprus
Czech Republic
Denmark
Djibouti
Dominica
Dominican Republic
Ducie Island
Easter Island
Ecuador
El Salvador
Equatorial Guinea
Eritrea
Estonia
Ethiopia
Faeroes
Falkland Island
Fernando de Noronha
Fiji
Finland
France
Franz Joseph Land
Gabon
Galapagos Island
Gambia
Georgia
Germany
Ghana
Gibraltar
Gough Island
Grand Cayman
Greece
Greenland
Grenada
Guadeloupe
Guatemala
Guinea-Bissau
Guinea
Guyana
Haiti
Hawaii
Heard Island
Henderson Island
Honduras
Hong Kong
Hungary
India
Indonesia
Iran
Iraq
Ireland
Island da Trindade
Island de Horn
Island de la Bahia
Island de Providencia
Island de San Andres
Island Glorieuses
Island Wallis
Italy
Ivory Coast
Jamaica
Jan Mayen
Japan
Jordan
Juan Fernandez Island
Kara Sea Island
Kazakhstan
Kenya
Kerguelen Island
Kiribati
Kuril Island
Kuwait
Kyrgyzstan
Laccadive Island
Laos
Latvia
Lau Group
La Tortuga Island
Lebanon
Lesotho
Liberia
Libya
Line Island
Lithuania
Lord Howe Island
Luxembourg
Macau
Macedonia
Macquarie Island
Madagascar
Madeira
Malawi
Malaysia
Maldives
Malta
Marianas
Marquesas
Marshall Island
Martinique
Mauritania
Mauritius
Mexico
Moldavia
Monaco
Mongolia
Montserrat
Mozambique
Myanmar
Namibia
Nauru
Nepal
Netherlands
New Caledonia
New Siberian Island
New Zealand
Nicaragua
Nicobar Island
Niger
Niue
Norfolk Island
Northern Marianas
North Korea
Norway
Novaya Zemlya
Oman
Pakistan
Palau Island
Panama
Papua New Guinea
Paracel Island
Peru
Philippines
Phoenix Island
Poland
Portugal
Prince Edward Island
Puerto Rica
Qatar
Reunion
Rodrigues Island
Romania
Russia
Ryukyu Island
Samoa
San Marino
Sao Tome + Principe
Saudi Arabia
Senegal
Severnaya Zemlya
Seychelles
Sierra Leone
Singapore
Slovakia
Slovenia
Socotra
Solomon Island
Somalia
South Africa
South Georgia
South Korea
Spain
Sri Lanka
St Croix
St Helena
St Kitts
St Lucia
Sudan
Surinam
Svalbard
Swan Island
Swaziland
Sweden
Switzerland
Syria
Tajikistan
Tanzania
Thailand
Togo
Tonga
Trinidad and Tobago
Tristan da Cunha
Tromelin Island
Truk Island
Tuamotu
Tubuai Island
Tunisia
Turkey
Turkmenistan
Tuvalu
Uganda
United Arab Emirates
United Kingdom
Uruguay
USA
Uzbekistan
Vanatu
Venezuela
Vietnam
Virgin Island
Western Sahara
Wrangel Island
Yemen
Yugoslavia
Zaire
Zambia
Zimbabwe

In [4]:
df_concat.reset_index(drop=True, inplace= True)

In [5]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32946 entries, 0 to 32945
Data columns (total 5 columns):
year                 32946 non-null int64
country              32946 non-null object
monthly_precip       32946 non-null float64
yearly_precip        32946 non-null float64
precip_volatility    32946 non-null float64
dtypes: float64(3), int64(1), object(1)
memory usage: 1.3+ MB

In [6]:
df_concat

       year        country  monthly_precip  yearly_precip  precip_volatility
0      1901  Actaeon Group      277.130769    3325.569231      238989.810641
1      1902  Actaeon Group      277.207692    3326.492308      239260.532436
2      1903  Actaeon Group      277.284615    3327.415385      239531.408077
3      1904  Actaeon Group      277.361538    3328.338462      239802.437564
4      1905  Actaeon Group      277.438462    3329.261538      240073.620897
5      1906  Actaeon Group      277.515385    3330.184615      240344.958077
6      1907  Actaeon Group      277.592308    3331.107692      240616.449103
7      1908  Actaeon Group      277.669231    3332.030769      240888.093974
8      1909  Actaeon Group      277.746154    3332.953846      241159.892692
9      1910  Actaeon Group      277.823077    3333.876923      241431.845256
10     1911  Actaeon Group      277.900000    3334.800000      241703.951667
11     1912  Actaeon Group      277.976923    3335.723077      241976.211923
12     1913  Actaeon Group      278.053846    3336.646154      242248.626026
13     1914  Actaeon Group      278.130769    3337.569231      242521.193974
14     1915  Actaeon Group      278.207692    3338.492308      242793.915769
15     1916  Actaeon Group      278.284615    3339.415385      243066.791410
16     1917  Actaeon Group      278.361538    3340.338462      243339.820897
17     1918  Actaeon Group      278.438462    3341.261538      243613.004231
18     1919  Actaeon Group      278.515385    3342.184615      243886.341410
19     1920  Actaeon Group      278.592308    3343.107692      244159.832436
20     1921  Actaeon Group      278.669231    3344.030769      244433.477308
21     1922  Actaeon Group      278.746154    3344.953846      244707.276026
22     1923  Actaeon Group      278.823077    3345.876923      244981.228590
23     1924  Actaeon Group      278.900000    3346.800000      245255.335000
24     1925  Actaeon Group      278.976923    3347.723077      245529.595256
25     1926  Actaeon Group      279.053846    3348.646154      245804.009359
26     1927  Actaeon Group      279.130769    3349.569231      246078.577308
27     1928  Actaeon Group      279.207692    3350.492308      246353.299103
28     1929  Actaeon Group      279.284615    3351.415385      246628.174744
29     1930  Actaeon Group      279.361538    3352.338462      246903.204231
...     ...            ...             ...            ...                ...
32916  1985       Zimbabwe      213.761538    2565.138462      290063.455897
32917  1986       Zimbabwe      207.538462    2490.461538      289046.322564
32918  1987       Zimbabwe      190.138462    2281.661538      295083.264231
32919  1988       Zimbabwe      204.107692    2449.292308      290580.950769
32920  1989       Zimbabwe      204.638462    2455.661538      292209.684231
32921  1990       Zimbabwe      202.138462    2425.661538      293223.324231
32922  1991       Zimbabwe      193.800000    2325.600000      294035.496667
32923  1992       Zimbabwe      189.292308    2271.507692      296594.045769
32924  1993       Zimbabwe      206.607692    2479.292308      292284.354103
32925  1994       Zimbabwe      190.730769    2288.769231      296615.307308
32926  1995       Zimbabwe      188.761538    2265.138462      296352.264231
32927  1996       Zimbabwe      210.230769    2522.769231      294833.607308
32928  1997       Zimbabwe      217.361538    2608.338462      293125.450897
32929  1998       Zimbabwe      208.176923    2498.123077      295061.851923
32930  1999       Zimbabwe      207.476923    2489.723077      294668.595256
32931  2000       Zimbabwe      225.561538    2706.738462      290705.685897
32932  2001       Zimbabwe      222.969231    2675.630769      294769.472308
32933  2002       Zimbabwe      187.161538    2245.938462      298484.722564
32934  2003       Zimbabwe      202.684615    2432.215385      295595.599744
32935  2004       Zimbabwe      212.176923    2546.123077      294761.450256
32936  2005       Zimbabwe      206.430769    2477.169231      297543.088974
32937  2006       Zimbabwe      202.953846    2435.446154      296419.086026
32938  2007       Zimbabwe      206.353846    2476.246154      296330.664359
32939  2008       Zimbabwe      207.976923    2495.723077      296963.200256
32940  2009       Zimbabwe      204.000000    2448.000000      296910.945000
32941  2010       Zimbabwe      213.300000    2559.600000      296009.865000
32942  2011       Zimbabwe      211.269231    2535.230769      297702.275641
32943  2012       Zimbabwe      203.046154    2436.553846      298488.224359
32944  2013       Zimbabwe      203.969231    2447.630769      301167.150641
32945  2014       Zimbabwe      206.784615    2481.415385      301402.473077

[32946 rows x 5 columns]

In [7]:
#country code mapp

In [8]:
data_dir  = "/media/sony/0CA83E99A83E80EE/Chris/Bocconi/Thesis/Data_copy/Data/FDI"

In [9]:
names_convertAB = {'Congo, Democratic Rep. of' : 'Democratic Republic of Congo',
           'Venezuela, Bolivarian Rep. of': 'Bolivarian Republic of Venezuela',
          'United Rep. of Tanzania': 'United Republic of Tanzania',
           'Korea, Republic of': 'Republic of Korea',
           'Iran, Islamic Republic of': 'Islamic Republic of Iran',
           'Moldova, Republic of': 'Republic of Moldova',
           'Bolivia, Plurinational State of': 'Plurinational State of Bolivia',
            "Lao People's Dem. Rep.": "Lao People's Democratic Republic"
          }
names_convertBA = dict( [(value, key) for key, value in names_convertAB.items()] )
country_code_map = dict()
for path in os.listdir(data_dir):
    country_code = re.findall(r'_([A-Z]+)', path)[0]
    hostname_df = pd.read_excel(data_dir+'/' + path, sheet_name= 0, na_values ='..')
    country_code_map[" ".join(hostname_df.columns[0].split())] = country_code
for key, val in names_convertBA.items():
    country_code_map[val] = country_code_map[key]
    del country_code_map[key]

In [10]:
country_code_map['Hong Kong, China'] = 'HKG'

In [11]:
augmented_map = {'Bolivia':'BOL', 'Brunei': 'BRN', 'Taiwan, China':'TWN','Congo, Rep.':'COG','Cuba': 'CUB',
                 'Czechoslovakia': 'CSK','Ethiopia(excludes Eritrea)': 'ETH','Gambia, The': 'GMB', 'Guyana':'GUY',
                 "Cote d'Ivoire":'CIV', 'Korea, Rep.' :'KOR', 'Kyrgyz Republic':'KGZ', 'Lao PDR':'LAO',
                 'Moldova': 'MDA', 'Vietnam':'VNM', 'Egypt, Arab Rep.': 'EGY', 'Tanzania':'TZA','Venezuela': 'VEN',
                 'Bahamas, The': 'BHS','Iran, Islamic Rep.' :'IRN','Macao': 'MAC','Turkmenistan':'TKM',
                 'Macedonia, FYR': 'MKD','Uzbekistan':'UZB','Serbia, FR(Serbia/Montenegro)':'SRB',
                 'Congo, Dem. Rep.': 'COD', 'Slovak Republic': 'SVK','East Timor': 'TLS','Anguila': 'AIA',
                'Liechtenstein': 'LIE', 'Guadeloupe': 'GLP', 'French Guiana' : 'GUF', 'Guam':'GUM',
                 'Curaçao': 'CUW','South Sudan': 'SSD','Hong Kong':'HKG'}

In [12]:
supplement_map = {'Andorra':'AND',

 'Congo, The Democratic Republic of the': 'COD',
 "Côte D'Ivoire": 'CIV',
 'Christmas Island': 'CXR',
 'Western Sahara':'ESH',
 'Falkland Islands (Malvinas)':'FLK',
 'Micronesia, Federated States of': 'FSM',
 'Faroe Islands': 'FRO',
 'Gibraltar':'GIB',
 'Greenland':'GRL',
 "Lao People's Democratic Republic": 'LAO',
 'Monaco':'MCO',
 'Macedonia':'MKD',
 'Macau':'MAC',
 'Martinique':'MTQ',
 'Montserrat': 'MSR',
 'Norfolk Island':'NFK',
 'Saint Pierre and Miquelon':'SPM',
 'San Marino':'SMR',
 'Sao Tome and Principe':'STP',
 'Taiwan':'TWN',
 'Tanzania, United Republic of':'TZA',
 'Holy See (Vatican City State)':'VAT',
 'Virgin Islands, British':'VGB',
 'Virgin Islands, U.S.':'VIR',
 'Wallis and Futuna':'WLF',
 'Isle of Man':'IMN',
 'Jersey':'JEY',
 'Saint Barthelemy':'BLM',
 'Saint Martin':'MAF',
 'Sint Maarten (Dutch part)':'SXM', 'Pitcairn Islands': 'PCN','Mayotte':'MYT',
                  'Aland Islands':'ALA','Guernsey':'GGY', 'Bouvet Island':'BVT'}

In [13]:
extra_map ={'Congo, Democratic Republic of the':'COD',
 'Congo, Republic of': 'COG',
 "Côte d'Ivoire": 'CIV',
 'Iran': 'IRN',
 'Kiribati':'KIR',
 'Korea, North':'PRK',
 'Korea, South':'KOR',
 'Laos':'LAO',
 'Micronesia':'FSM',
 'Palestinian State':'PSE',
 'Russia':'RUS',
 'St. Kitts and Nevis':'KNA',
 'St. Lucia':'LCA',
 'St. Vincent and the Grenadines':'VCT',
 'São Tomé and Príncipe':'STP',
 'Syria':'SYR',
 'Western Sahara (proposed state)':'ESH'}

In [14]:
extra2_map = {'Burma': 'MMR', 'Cabo Verde':'CPV', 'Democratic Republic of Congo': 'COD', 'Eswatini':'SWZ',
       'Kosovo':'RKS', 'North Korea':'PRK', 'Republic of Congo':'COG', 'South Korea':'KOR',
       'The Bahamas':'BHS', 'The Gambia':'GMB'}

In [15]:
extra3_map = {'Antigua':'ATG', 
'Guadalupe':'GLP','St Vincent':'VCT', 'Tokelau Island':'TKL',
       'Cape Verde Island':'CPV',
       'Central African Rep':'CAF', 'Cocos Island':'CCK',
       'Cook Island':'COK','Curacao Island':'CUW', 'Faeroes':'FRO', 'Falkland Island':'FLK',
  
       'Ivory Coast':'CIV','Marshall Island':'MHL', 'Moldavia':'MDA','Puerto Rica':'PRI',
 'Solomon Island':"SLB",'St Helena':'SHN', 'St Kitts':'KNA', 'St Lucia':'LCA', 'Surinam':'SUR',
      'USA':'USA', 'Zaire':'COD', 'Sao Tome + Principe':'STP', 'Vanatu':'VUT'}

In [16]:
combined_map = dict()
combined_map.update(country_code_map)
combined_map.update(augmented_map)
combined_map.update(supplement_map)
combined_map.update(extra_map)
combined_map.update(extra2_map)
combined_map.update(extra3_map)

In [17]:
df_concat['home_code'] = df_concat['country'].map(combined_map)

In [18]:
df_concat[df_concat['home_code'].isna()]['country'].unique()

array(['Actaeon Group', 'Aldabra Island', 'Aleutians', 'Amsterdam Island',
       'Andaman Island', 'Ascension', 'Auckland Island', 'Azores',
       'Banaba', 'Barbuda', 'Bassas da India', 'Bioko', 'Bonin Island',
       'Bosnia-Herzegovinia', 'Antipodes Island', 'Caroline Island',
       'Komandorskiye Island', 'Society Island', 'Cabinda',
       'Campbell Island', 'Canary Island', 'Chagos Archipelago',
       'Crozet Island', 'Ducie Island', 'Easter Island',
       'Fernando de Noronha', 'Franz Joseph Land', 'Galapagos Island',
       'Gough Island', 'Grand Cayman', 'Hawaii', 'Heard Island',
       'Henderson Island', 'Island da Trindade', 'Island de Horn',
       'Island de la Bahia', 'Island de Providencia',
       'Island de San Andres', 'Island Glorieuses', 'Island Wallis',
       'Jan Mayen', 'Juan Fernandez Island', 'Kara Sea Island',
       'Kerguelen Island', 'Kuril Island', 'Laccadive Island',
       'Lau Group', 'La Tortuga Island', 'Line Island',
       'Lord Howe Island', 'Macquarie Island', 'Madeira', 'Marianas',
       'Marquesas', 'New Siberian Island', 'Nicobar Island',
       'Northern Marianas', 'Novaya Zemlya', 'Palau Island',
       'Paracel Island', 'Phoenix Island', 'Prince Edward Island',
       'Rodrigues Island', 'Ryukyu Island', 'Severnaya Zemlya', 'Socotra',
       'South Georgia', 'St Croix', 'Svalbard', 'Swan Island',
       'Tristan da Cunha', 'Tromelin Island', 'Truk Island', 'Tuamotu',
       'Tubuai Island', 'Virgin Island', 'Wrangel Island', 'Yugoslavia'],
      dtype=object)

In [19]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32946 entries, 0 to 32945
Data columns (total 6 columns):
year                 32946 non-null int64
country              32946 non-null object
monthly_precip       32946 non-null float64
yearly_precip        32946 non-null float64
precip_volatility    32946 non-null float64
home_code            24054 non-null object
dtypes: float64(3), int64(1), object(2)
memory usage: 1.5+ MB

In [20]:
df_main = pd.read_csv(directory +'merged_COPY_FINAL6.csv')

/home/sony/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055750 entries, 0 to 1055749
Data columns (total 70 columns):
home                 1055750 non-null object
host                 1055750 non-null object
year                 1055750 non-null int64
fdi                  65205 non-null float64
home_code            1055750 non-null object
host_code            1055750 non-null object
region               492000 non-null object
income_group         492000 non-null object
scoreproced          432755 non-null float64
minorinvest          432755 non-null float64
enfcontract          492000 non-null float64
paytax               432755 non-null float64
minorinvest_lag      395855 non-null float64
diff_minorinvest     395855 non-null float64
distance             993550 non-null float64
uncertainty          182042 non-null float64
home_gdp             953660 non-null float64
host_gdp             953660 non-null float64
couprisk             874940 non-null float64
couprisk_lag         839680 non-null float64
pt_attempt           874940 non-null float64
pt_attempt_lag       839680 non-null float64
prev_conflict        874940 non-null float64
prev_conflict_lag    839680 non-null float64
pctile_risk          874940 non-null float64
pctile_risk_lag      839680 non-null float64
diff_couprisk        839680 non-null float64
fdi_lag              65205 non-null float64
diff_fdi             58546 non-null float64
export               377483 non-null float64
home_EU              1055750 non-null int64
home_eurozone        1055750 non-null int64
host_EU              1055750 non-null int64
host_eurozone        1055750 non-null int64
EU_partner           1055750 non-null int64
eurozone_partner     1055750 non-null int64
home_asean           1055750 non-null int64
host_asean           1055750 non-null int64
home_mercosour       1055750 non-null int64
host_mercosour       1055750 non-null int64
asean_partner        1055750 non-null int64
mercosour_partner    1055750 non-null int64
tariff_avg           437258 non-null float64
tariff_w_avg         437258 non-null float64
uncertainty_lag      169039 non-null float64
uncertainty_lag2     156036 non-null float64
home_gdp_capita      953250 non-null float64
host_gdp_capita      953250 non-null float64
partner_directed     1055750 non-null object
partner              1055750 non-null object
home_OECD            1055750 non-null int64
host_OECD            1055750 non-null int64
OECD_partner         1055750 non-null int64
home_north           1055750 non-null int64
host_north           1055750 non-null int64
north-north          1055750 non-null int64
north-south          1055750 non-null int64
south-north          1055750 non-null int64
south-south          1055750 non-null int64
home_lock            1055750 non-null int64
host_lock            1055750 non-null int64
trade_lock           1055750 non-null int64
lang                 1055750 non-null int64
union_partner        1055750 non-null int64
NAFTA                1055750 non-null int64
migration            205030 non-null float64
fiscal_score         36695 non-null float64
invest_score         746610 non-null float64
judic_score          36490 non-null float64
integrity_score      749480 non-null float64
dtypes: float64(34), int64(28), object(8)
memory usage: 563.8+ MB

In [22]:
df_merged = pd.merge(df_main, df_concat,how='left', on=['home_code','year'])

In [23]:
df_merged[df_merged.year < 2014]

,home,host,year,fdi,home_code,host_code,region,income_group,scoreproced,minorinvest,...,NAFTA,migration,fiscal_score,invest_score,judic_score,integrity_score,country,monthly_precip,yearly_precip,precip_volatility
0,Albania,Afghanistan,1993,NaN,ALB,AFG,NaN,NaN,NaN,NaN,...,0,3.0,NaN,NaN,NaN,NaN,Albania,216.969231,2603.630769,287394.365641
1,Algeria,Afghanistan,1993,NaN,DZA,AFG,NaN,NaN,NaN,NaN,...,0,33.0,NaN,NaN,NaN,NaN,Algeria,158.646154,1903.753846,303781.924359
2,American Samoa,Afghanistan,1993,NaN,ASM,AFG,NaN,NaN,NaN,NaN,...,0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Angola,Afghanistan,1993,NaN,AGO,AFG,NaN,NaN,NaN,NaN,...,0,4.0,NaN,NaN,NaN,NaN,Angola,226.823077,2721.876923,286124.510256
4,Anguilla,Afghanistan,1993,NaN,AIA,AFG,NaN,NaN,NaN,NaN,...,0,0.0,NaN,NaN,NaN,NaN,Anguilla,276.569231,3318.830769,274335.937308
5,Antigua and Barbuda,Afghanistan,1993,NaN,ATG,AFG,NaN,NaN,NaN,NaN,...,0,0.0,NaN,NaN,NaN,NaN,Antigua,350.853846,4210.246154,253375.864359
6,Argentina,Afghanistan,1993,NaN,ARG,AFG,NaN,NaN,NaN,NaN,...,0,0.0,NaN,NaN,NaN,NaN,Argentina,198.600000,2383.200000,291231.623333
7,Armenia,Afghanistan,1993,NaN,ARM,AFG,NaN,NaN,NaN,NaN,...,0,0.0,NaN,NaN,NaN,NaN,Armenia,196.761538,2361.138462,292166.304231
8,Aruba,Afghanistan,1993,NaN,ABW,AFG,NaN,NaN,NaN,NaN,...,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Australia,Afghanistan,1993,NaN,AUS,AFG,NaN,NaN,NaN,NaN,...,0,22.0,NaN,NaN,NaN,NaN,Australia,195.438462,2345.261538,292752.925897
10,Austria,Afghanistan,1993,NaN,AUT,AFG,NaN,NaN,NaN,NaN,...,0,3.0,NaN,NaN,NaN,NaN,Austria,238.238462,2858.861538,279842.547564
11,Azerbaijan,Afghanistan,1993,NaN,AZE,AFG,NaN,NaN,NaN,NaN,...,0,0.0,NaN,NaN,NaN,NaN,Azerbaijan,186.192308,2234.307692,295020.464103
12,Bahamas,Afghanistan,1993,NaN,BHS,AFG,NaN,NaN,NaN,NaN,...,0,0.0,NaN,NaN,NaN,NaN,Bahamas,261.538462,3138.461538,272444.284231
13,Bahrain,Afghanistan,1993,NaN,BHR,AFG,NaN,NaN,NaN,NaN,...,0,0.0,NaN,NaN,NaN,NaN,Bahrain,160.176923,1922.123077,303458.230256
14,Bangladesh,Afghanistan,1993,NaN,BGD,AFG,NaN,NaN,NaN,NaN,...,0,31302.0,NaN,NaN,NaN,NaN,Bangladesh,383.184615,4598.215385,285154.809744
15,Barbados,Afghanistan,1993,NaN,BRB,AFG,NaN,NaN,NaN,NaN,...,0,0.0,NaN,NaN,NaN,NaN,Barbados,311.000000,3732.000000,261991.888333
16,Belarus,Afghanistan,1993,NaN,BLR,AFG,NaN,NaN,NaN,NaN,...,0,2.0,NaN,NaN,NaN,NaN,Belarus,204.276923,2451.323077,290060.031923
17,Belgium,Afghanistan,1993,NaN,BEL,AFG,NaN,NaN,NaN,NaN,...,0,0.0,NaN,NaN,NaN,NaN,Belgium,222.669231,2672.030769,285122.552308
18,Belize,Afghanistan,1993,NaN,BLZ,AFG,NaN,NaN,NaN,NaN,...,0,0.0,NaN,NaN,NaN,NaN,Belize,351.030769,4212.369231,253867.472308
19,Benin,Afghanistan,1993,NaN,BEN,AFG,NaN,NaN,NaN,NaN,...,0,2.0,NaN,NaN,NaN,NaN,Benin,226.084615,2713.015385,286871.696410
20,Bermuda,Afghanistan,1993,NaN,BMU,AFG,NaN,NaN,NaN,NaN,...,0,0.0,NaN,NaN,NaN,NaN,Bermuda,268.692308,3224.307692,268623.397436
21,Bhutan,Afghanistan,1993,NaN,BTN,AFG,NaN,NaN,NaN,NaN,...,0,104.0,NaN,NaN,NaN,NaN,Bhutan,279.376923,3352.523077,283872.631923
22,"Bolivia, Plurinational State of",Afghanistan,1993,NaN,BOL,AFG,NaN,NaN,NaN,NaN,...,0,0.0,NaN,NaN,NaN,NaN,Bolivia,240.776923,2889.323077,282013.395256
23,Bosnia and Herzegovina,Afghanistan,1993,NaN,BIH,AFG,NaN,NaN,NaN,NaN,...,0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Botswana,Afghanistan,1993,NaN,BWA,AFG,NaN,NaN,NaN,NaN,...,0,1.0,NaN,NaN,NaN,NaN,Botswana,175.576923,2106.923077,298787.636923
25,Brazil,Afghanistan,1993,NaN,BRA,AFG,NaN,NaN,NaN,NaN,...,0,0.0,NaN,NaN,NaN,NaN,Brazil,283.946154,3407.353846,267033.909359
26,British Indian Ocean Territory,Afghanistan,1993,NaN,BIOT,AFG,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,British Virgin Islands,Afghanistan,1993,NaN,VGB,AFG,NaN,NaN,NaN,NaN,...,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Brunei Darussalam,Afghanistan,1993,NaN,BRN,AFG,NaN,NaN,NaN,NaN,...,0,524.0,NaN,NaN,NaN,NaN,Brunei,334.769231,4017.230769,262212.295641
29,Bulgaria,Afghanistan,1993,NaN,BGR,AFG,NaN,NaN,NaN,NaN,...,0,8.0,NaN,NaN,NaN,NaN,Bulgaria,191.861538,2302.338462,293433.425897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054900,Sweden,Zimbabwe,2013,NaN,SWE,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Sweden,203.084615,2437.015385,296225.441410
1054901,Switzerland,Zimbabwe,2013,NaN,CHE,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Switzerland,280.684615,3368.215385,272460.583077
1054902,Syrian Arab Republic,Zimbabwe,2013,NaN,SYR,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Syria,175.984615,2111.815385,305290.908077
1054903,São Tomé and Principe,Zimbabwe,2013,NaN,STP,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Sao Tome + Principe,315.461538,3785.538462,266255.004231
1054904,Taiwan Province of China,Zimbabwe,2013,NaN,TWN,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,NaN,NaN,NaN,NaN
1054905,Tajikistan,Zimbabwe,2013,NaN,TJK,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Tajikistan,189.476923,2273.723077,300928.536923
1054906,Thailand,Zimbabwe,2013,NaN,THA,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Thailand,290.984615,3491.815385,278357.568077
1054907,The FYR of Macedonia,Zimbabwe,2013,NaN,MKD,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Macedonia,196.369231,2356.430769,298682.320641
1054908,Timor-Leste,Zimbabwe,2013,NaN,TLS,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,NaN,NaN,NaN,NaN
1054909,Togo,Zimbabwe,2013,NaN,TGO,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Togo,234.592308,2815.107692,288249.960769
1054910,Tokelau,Zimbabwe,2013,NaN,TKL,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Tokelau Island,356.676923,4280.123077,251866.013590
1054911,Tonga,Zimbabwe,2013,NaN,TON,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Tonga,307.984615,3695.815385,265472.131410
1054912,Trinidad and Tobago,Zimbabwe,2013,NaN,TTO,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Trinidad and Tobago,268.546154,3222.553846,277947.784359
1054913,Tunisia,Zimbabwe,2013,NaN,TUN,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Tunisia,178.723077,2144.676923,304029.936923
1054914,Turkey,Zimbabwe,2013,NaN,TUR,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Turkey,193.769231,2325.230769,299243.280641
1054915,Turks and Caicos Islands,Zimbabwe,2013,NaN,TCA,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,NaN,NaN,NaN,NaN
1054916,Tuvalu,Zimbabwe,2013,NaN,TUV,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Tuvalu,391.869231,4702.430769,240143.622308
1054917,US Virgin Islands,Zimbabwe,2013,NaN,VIR,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,NaN,NaN,NaN,NaN
1054918,Uganda,Zimbabwe,2013,NaN,UGA,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Uganda,265.884615,3190.615385,278990.593077
1054919,Ukraine,Zimbabwe,2013,NaN,UKR,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Ukraine,198.153846,2377.846154,297775.672692
1054920,United Arab Emirates,Zimbabwe,2013,NaN,ARE,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,United Arab Emirates,158.453846,1901.446154,310520.736026
1054921,United Kingdom,Zimbabwe,2013,NaN,GBR,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,United Kingdom,249.900000,2998.800000,282392.258333
1054922,United Rep. of Tanzania,Zimbabwe,2013,NaN,TZA,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Tanzania,229.692308,2756.307692,291670.424103
1054923,United States,Zimbabwe,2013,NaN,USA,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,USA,215.061538,2580.738462,291994.795897
1054924,Uruguay,Zimbabwe,2013,NaN,URY,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Uruguay,243.838462,2926.061538,284813.089231
1054925,Vanuatu,Zimbabwe,2013,NaN,VUT,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Vanatu,376.607692,4519.292308,245840.672436
1054926,"Venezuela, Bolivarian Rep. of",Zimbabwe,2013,NaN,VEN,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Venezuela,292.792308,3513.507692,272963.262436
1054927,Viet Nam,Zimbabwe,2013,NaN,VNM,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Vietnam,319.184615,3830.215385,267380.726410
1054928,Yemen,Zimbabwe,2013,NaN,YEM,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Yemen,166.223077,1994.676923,307943.225256
1054929,Zambia,Zimbabwe,2013,NaN,ZMB,ZWE,Sub-Saharan Africa,Low income,80.0,46.67,...,0,NaN,NaN,0.0,NaN,22.0,Zambia,231.892308,2782.707692,294328.665769

In [24]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1055750 entries, 0 to 1055749
Data columns (total 74 columns):
home                 1055750 non-null object
host                 1055750 non-null object
year                 1055750 non-null int64
fdi                  65205 non-null float64
home_code            1055750 non-null object
host_code            1055750 non-null object
region               492000 non-null object
income_group         492000 non-null object
scoreproced          432755 non-null float64
minorinvest          432755 non-null float64
enfcontract          492000 non-null float64
paytax               432755 non-null float64
minorinvest_lag      395855 non-null float64
diff_minorinvest     395855 non-null float64
distance             993550 non-null float64
uncertainty          182042 non-null float64
home_gdp             953660 non-null float64
host_gdp             953660 non-null float64
couprisk             874940 non-null float64
couprisk_lag         839680 non-null float64
pt_attempt           874940 non-null float64
pt_attempt_lag       839680 non-null float64
prev_conflict        874940 non-null float64
prev_conflict_lag    839680 non-null float64
pctile_risk          874940 non-null float64
pctile_risk_lag      839680 non-null float64
diff_couprisk        839680 non-null float64
fdi_lag              65205 non-null float64
diff_fdi             58546 non-null float64
export               377483 non-null float64
home_EU              1055750 non-null int64
home_eurozone        1055750 non-null int64
host_EU              1055750 non-null int64
host_eurozone        1055750 non-null int64
EU_partner           1055750 non-null int64
eurozone_partner     1055750 non-null int64
home_asean           1055750 non-null int64
host_asean           1055750 non-null int64
home_mercosour       1055750 non-null int64
host_mercosour       1055750 non-null int64
asean_partner        1055750 non-null int64
mercosour_partner    1055750 non-null int64
tariff_avg           437258 non-null float64
tariff_w_avg         437258 non-null float64
uncertainty_lag      169039 non-null float64
uncertainty_lag2     156036 non-null float64
home_gdp_capita      953250 non-null float64
host_gdp_capita      953250 non-null float64
partner_directed     1055750 non-null object
partner              1055750 non-null object
home_OECD            1055750 non-null int64
host_OECD            1055750 non-null int64
OECD_partner         1055750 non-null int64
home_north           1055750 non-null int64
host_north           1055750 non-null int64
north-north          1055750 non-null int64
north-south          1055750 non-null int64
south-north          1055750 non-null int64
south-south          1055750 non-null int64
home_lock            1055750 non-null int64
host_lock            1055750 non-null int64
trade_lock           1055750 non-null int64
lang                 1055750 non-null int64
union_partner        1055750 non-null int64
NAFTA                1055750 non-null int64
migration            205030 non-null float64
fiscal_score         36695 non-null float64
invest_score         746610 non-null float64
judic_score          36490 non-null float64
integrity_score      749480 non-null float64
country              847880 non-null object
monthly_precip       847880 non-null float64
yearly_precip        847880 non-null float64
precip_volatility    847880 non-null float64
dtypes: float64(37), int64(28), object(9)
memory usage: 604.1+ MB

In [25]:
df_merged.head()

,home,host,year,fdi,home_code,host_code,region,income_group,scoreproced,minorinvest,...,NAFTA,migration,fiscal_score,invest_score,judic_score,integrity_score,country,monthly_precip,yearly_precip,precip_volatility
0,Albania,Afghanistan,1993,NaN,ALB,AFG,NaN,NaN,NaN,NaN,...,0,3.0,NaN,NaN,NaN,NaN,Albania,216.969231,2603.630769,287394.365641
1,Algeria,Afghanistan,1993,NaN,DZA,AFG,NaN,NaN,NaN,NaN,...,0,33.0,NaN,NaN,NaN,NaN,Algeria,158.646154,1903.753846,303781.924359
2,American Samoa,Afghanistan,1993,NaN,ASM,AFG,NaN,NaN,NaN,NaN,...,0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Angola,Afghanistan,1993,NaN,AGO,AFG,NaN,NaN,NaN,NaN,...,0,4.0,NaN,NaN,NaN,NaN,Angola,226.823077,2721.876923,286124.510256
4,Anguilla,Afghanistan,1993,NaN,AIA,AFG,NaN,NaN,NaN,NaN,...,0,0.0,NaN,NaN,NaN,NaN,Anguilla,276.569231,3318.830769,274335.937308

In [26]:
df_merged.to_csv(directory +'merged_COPY_FINAL7.csv', index = False)